[2021-01-19 14:57] WeilerP opened #327 "`scvelo.datasets.simulation` returns `Traceback` error"
## Description

The function `simulation` throws a `Traceback` error if lists of different length are passed to the arguments `noise_level` and `switches` and `n_vars=None`.

[code]

The problem is the definition of `n_vars` [here](fails if `noise_level` and `switches` have different length and `n_vars=None`). The number of variables needs to be defined as the minimum, not the maximum, of the two

[2021-01-19 16:28] WeilerP opened #329 "Unit tests fail on Travis CI"
## Description

The unit tests fail with `umap-learn==0.5`. Travis CI seems to install the incompatible version even though `scanpy` requires a version prior to `0.5`.

[2021-01-19 16:29] WeilerP commented on #329
I think this is the reason why #326 and #328 currently fail.

[2021-01-20 08:54] #329 closed

[2021-01-20 12:03] WeilerP opened #332 "Vectorize for loop"
## Description

The for loop [here](https://github.com/theislab/scvelo/blob/d86753457da72c4766d1b40a60948f8cfa3559a2/scvelo/tools/dynamical_model_utils.py#L198) can be parallelised.

[2021-01-20 12:27] WeilerP opened #334 "Simplify calculation of normalized dispersion"
## Description

The calculation of the normalized dispersion in `filter_genes_dispersion` can be simplified. The `if` clause [here](https://github.com/theislab/scvelo/blob/d86753457da72c4766d1b40a60948f8cfa3559a2/scvelo/preprocessing/utils.py#L512) can be made easier with

[code]

The removal of `nan` values requires defining the column `"dispersion_norm"` previously as

[code]

[2021-01-20 12:35] #325 closed

[2021-01-20 12:35] #327 closed

[2021-01-20 13:00] WeilerP opened #336 "PCA transformation can fail in `neighbors`"
## Description

The PCA calculation [here](https://github.com/theislab/scvelo/blob/a42491e740611c9a8594eb05fe84e8b755a58304/scvelo/preprocessing/neighbors.py#L104) may fail due to an invalid number of components defined [here](https://github.com/theislab/scvelo/blob/a42491e740611c9a8594eb05fe84e8b755a58304/scvelo/preprocessing/neighbors.py#L103).

[code]

<details>
<summary> Error </summary>

[cod

[2021-01-20 19:15] QqQss commented on #316
same issue here!

[2021-01-22 18:55] aminzia opened #338 "running on selected cells"
Hello everyone,

I was wondering if there's a way to run scvelo on a selected set of 10X gex cells (a subset of barcodes).

Thank you all in advance.
Amin

[2021-01-23 04:35] Xparx opened #339 "Add option of using other layer than Ms to terminal states computation."
Something like the following patch would be useful:
[scvelo_diff.patch.txt](https://github.com/theislab/scvelo/files/5859665/scvelo_diff.patch.txt)

[2021-01-24 02:48] davisidarta commented on #242
This is unrelated to the issue per se: I came across this after looking for solutions for a similar issue I'm having with PAGA graphs. However, I couldn't help to notice this data does not look like the human epithelial cell lineage at all. Perhaps you're using mouse data? If not, only 2 diffusion components are unable to describe this data. [I suggest a look at Fig.7 of this manuscript.](https://

[2021-01-25 10:16] Marius1311 commented on #242
Hi @davisidarta, thanks for your comment, this is in fact mouse data and I suppose this isn't enough cells to capture all the lineage dynamics (~1k cells). This was really only to test PAGA on a diffmap.

Correct me if I'm wrong, but the club -> ciliated and club -> goblet transitions shown in this diffmap are as expected for murine epithelial development, no? At least that's what I got from Weinb

[2021-01-25 10:17] Marius1311 commented on #242
Of course, basal cells are missing in this plot due to undersampling.

[2021-01-25 10:24] Marius1311 commented on #242
Thanks for pointing me to your paper! I will have to go trough this is a bit more detail but it sounds quite interesting. In fact, for the identification of initial and terminal states, we're recently proposed an alternative method called "CellRank" which makes use of RNA velocity, maybe worthwhile to check out: https://cellrank.readthedocs.io/en/latest/

[2021-01-25 15:19] davisidarta commented on #242
Hi @Marius1311, thank you for your consideration, and forgive me If I was intrusive.

Yes, most of your transitions are as expected, and undersampling would be a fine explanation for the missing basal cells, which are reasonably rare compared to other cell types. I understand diffmaps are used broadly for lineage inference and pseudotime estimation, yet [it has been shown ](https://static-content.

[2021-01-25 16:37] WeilerP opened #340 "Switch to GitHub Actions for CI"
## Description

As the original [Travis](https://travis-ci.org) website will be shutting down in several weeks which entails a change in plans and pricing, we should switch to GitHub Actions to run CI.

[2021-01-25 16:42] yannikschaelte commented on #340
I'm not aware of it shutting down completely? -- migration to travis-ci.com should be straightforward. However, there are plenty reasons for switching to GHA completely.

See https://github.com/yannikschaelte/scvelo/blob/master/.github/workflows/ci_push.yml for an exemplary setup.

[2021-01-25 16:54] Marius1311 commented on #242
Hi @davisidarta, wow, thanks so much for your swift, and very informative reply! I'll definitely check out dpMAPs, I like the fact that it's based on NMSLIB, which seems like the current best option to compute KNN graphs - in fact, I think @VolkerBergen has even been looking into HNSW himself.

Talking about CellRank, you could easily use that with a KNN graph computed from NMSLIB in whatever non-

[2021-01-25 16:55] WeilerP commented on #340
Sorry, bad phrasing. You are, of course, right. I meant the website `https://travis-ci.org` will be shutting down. This entails changes in plans and pricing.

[2021-01-25 18:02] davisidarta commented on #242
_Hi davisidarta, wow, thanks so much for your swift, and very informative reply!_

My pleasure!

 _I'll definitely check out dpMAPs, I like the fact that it's based on NMSLIB, which seems like the current best option to compute KNN graphs - in fact, I think @VolkerBergen has even been looking into HNSW himself_

Thank you for your interest! I've implemented a friendly wrapper for it in[ dbmap.ann]

[2021-01-25 23:12] davisidarta commented on #242
Hi @Marius1311 ! I finally managed to upload it [here](https://mab.to/jiqcw4Iv2). Hope it is useful!

[2021-01-26 09:41] Marius1311 commented on #242
Thanks @davisidarta for sharing the file. As to the scanpy integration, I don't have capacity for that at the moment, sorry.

As to the potential new kernel, that sounds interesting and that's something we could discuss in a separate issue in the [CellRank](https://cellrank.readthedocs.io/en/latest/) repo.

If any issues come up with the palantir-kernel as it is on your data, feel free to open a n

[2021-01-26 16:55] WeilerP opened #342 "Parallelize recover_dynamics"
## Description

To boost performance, the function `recover_dynamics` can be parallelized.

[2021-01-26 17:31] yannikschaelte commented on #342
Sounds good to me!

[2021-01-27 07:17] yannikschaelte commented on #342
Ok, had a short look. I like that the use of joblib simplifies a few things. Some differences I noted in #265 to maybe keep in mind, nothing critical:

* If I see correctly, each worker returns the full DynamicsRecovery objects. Therefore, all internal variables (all matrices) would be copied `n_jobs` times. For 8 cores ok, but may lead to memory problems on more cores. This problems also exists i

[2021-01-27 10:13] WeilerP opened #343 "Pre-commit hooks use wrong version of black"
## Description

Installing the developer scVelo from scratch in a new environment, makes black fail on several files. The pre-commit hooks seem to use `black<20.8b1`.

[2021-01-27 10:29] WeilerP commented on #339
Should be implemented via #345.

[2021-01-27 14:41] WeilerP commented on #343
Resolved via #344.

[2021-01-27 14:41] #343 closed

[2021-01-27 14:50] WeilerP commented on #342
Yes, I agree. Locally, running on 12 cores, I did not see a major difference concerning the memory usage between the two approaches. Granted, I did not perform a in-depth analysis but only monitored the process via `htop`.

We will also refactor and restructure the scVelo codebase in the upcoming weeks. For example, the class `DynamicsRecovery` can be rewritten to not have the entire `AnnData` as

[2021-01-27 15:09] yannikschaelte commented on #342
I think reducing the load of the DynamicsRecovery (and potentially further minimizing the fitting output, if necessary) should already solve this problem, sounds good!

[2021-01-29 16:54] rohan19250 commented on #37
I want to see UMAP clustering on RNA velocity of a sample. here are the steps I took and I wanted to make sure if this is the correct way to do to achieve this : https://scvelo.readthedocs.io/VelocityBasics.html#Project-the-velocities?

 - Read 10X counts data from cell ranger, do filtering, normalization etc and compute UMAP as well as leiden clustering.(adata) based on scanpy (https://scanpy-tut

[2021-01-31 20:10] somnathtagore opened #346 "TypeError in filter_and_normalize"
Hi ScVelo Team,

I am trying to combine multiple samples (loom files) using the loompy.combine method. This is working fine.  But, when  I try to do

scv.pp.filter_and_normalize(adata, min_shared_counts=20, n_top_genes=2000)
scv.pp.moments(adata, n_pcs=30, n_neighbors=30)

I am getting this error:

TypeError: Cannot cast array data from dtype('float64') to dtype('<U32') according to the rule 'safe

[2021-02-02 12:28] WeilerP commented on #346
Could you please provide the full stack trace? Also, which versions are you currently running? For the latter you can simply run `scv.logging.print_versions()`.
Right now my guess would be that the issue is either related to [this](scv.logging.print_versions()) fixed Scanpy issue or [this](https://github.com/theislab/scvelo/blob/f1ed31fe85719923563456b1dce8b3a19b98b446/scvelo/preprocessing/utils.p

[2021-02-02 19:15] somnathtagore commented on #346
Hi,
The details are:

Variable names are not unique. To make them unique, call `.var_names_make_unique`.
Abundance of ['spliced', 'unspliced']: [0.31 0.69]
AnnData object with n_obs × n_vars = 65795 × 60675
    layers: 'spliced', 'unspliced'

Exception:
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/pip/_internal/cli/base_command.py", line 179, in mai

[2021-02-03 10:24] WeilerP commented on #346
* You seem to be using conflicting dependencies: `anndata==0.7.5` depends on `pandas>=1.0, !=1.1`. Does the error persist when updating the version of `pandas`?

* If the error is still thrown, what is the data type of `adata.X`, `adata.layers["unspliced"]` and `adata.layers["spliced"]` prior to passing it to `filter_and_normalize`?

[2021-02-04 09:43] #336 closed

[2021-02-04 09:44] #334 closed

[2021-02-04 09:44] #332 closed

[2021-02-04 20:00] somnathtagore commented on #346
I tried updated panda using:

conda update pandas

The following packages were REMOVED:

  backports.os-0.1.1-py37_0
  pytest-arraydiff-0.3-py37h39e3cac_0
  pytest-astropy-0.5.0-py37_0
  pytest-doctestplus-0.3.0-py37_0
  pytest-openfiles-0.3.2-py37_0
  pytest-remotedata-0.3.1-py37_0

The following packages were DOWNGRADED:

  lzo                                       2.10-h49e0be7_2 --> 2.10-h7b64

[2021-02-04 21:15] WeilerP commented on #346
Hm, okay. So this problem originates from `anndata`. My suggestion would be the following: To rule out any problem due to conflicting package versions in your environment, I'd set up a new environment from scratch and run the script there:

[code]

This way, only the necessary libraries should be installed and version conflicts should not exist. Would that be an option for you?

[2021-02-04 21:43] Xparx commented on #339
Great! Thanks

[2021-02-04 21:43] #339 closed

[2021-02-06 06:05] somnathtagore commented on #346
Hi,
Thank you... i did the above (made a new conda env and installed scvelo again) and it works now.
Many thanks!

[2021-02-06 19:16] WeilerP commented on #346
Great! So the problem seems to have been caused by incompatible package versions.

[2021-02-06 19:16] #346 closed

[2021-02-09 16:19] #340 closed

[2021-02-10 02:52] mal7 opened #348 "Latent time is opposite to what I have expected"
Dear scvelo developers,

Thanks for developing such a fantastic tool.

Recently, I applied scvelo in analyzing single-cell data from several samples, and found that latent time is consistent to what I have expected in most of the samples expect one. For that sample, the latent time seems completely opposite. I am wondering if I can manually reverse the latent time to fit the biological process and

[2021-02-10 10:54] #342 closed

[2021-02-10 11:37] sarajimenez commented on #323
Hi,

Thank you for the great tool :)

I have a similar issue. I happen to have in my data set ~ 30% of unspliced counts, this is the case for two data sets (one sequenced with 10X and the other one with inDrops). They come from a differentiation protocol (hiPSC to beta-like cells) I don't know if this is a coincidence.

My question is, what are the implications of having a higher proportion of uns

[2021-02-12 10:12] Marius1311 opened #352 "Key contributions section in the docs"
I think it would be important to have a [scanpy-style](https://scanpy.readthedocs.io/en/latest/) "Key contributions" section in the docs to highlight contributions by e.g. @WeilerP, @stefanpeidli and @michalk8 - especially if the perspective is to drive scVelo in the community direction.

[2021-02-14 00:21] houruiyan commented on #248
Thank you very much! You are really kind!

[2021-02-14 00:40] houruiyan commented on #248
Dear Dr Bergen,

That means that the beta and the gamma value I get from scvelo corresponding to a half-life whose unit is hour. Is that right?
In addition, I did the correlation between the fit_gamma in dynamic model and velocity_gamma in stochastic model. I found that they do not have a good correlation. But when I did the correlation between fit_beta from dynamic model and velocity_gamma from s

[2021-02-15 10:46] Marius1311 commented on #352
Any comments/opinions on this @VolkerBergen ?

[2021-02-15 12:20] WeilerP commented on #321
@eynullazada, was the issue related to scVelo? If not, I believe we can close the issue?

[2021-02-15 12:36] WeilerP commented on #322
I was able to run the notebook using

Which version of scanpy did you use?

[2021-02-15 12:50] WeilerP commented on #312
The problem is with `umap-learn`, not `scvelo`. The dependency on `numba.targets` was removed in [this](https://github.com/lmcinnes/umap/commit/fca980595d016e4bc1c75bc68071aba899bc6cbb) commit. Should be included in `umap-learn==0.5.1` as far as I can tell.

[2021-02-15 12:50] #312 closed

[2021-02-15 13:02] WeilerP commented on #306
Thanks for resolving the issue @iumpeius!

[2021-02-15 13:02] #306 closed

[2021-02-15 13:14] WeilerP commented on #300
Sorry for picking up on this only now. Could you please provide a minimum working example where the problem occurred?

Seems like the entries in `adata.X` and `adata.layers["spliced"]` are not similar (checked [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/preprocessing/utils.py#L826)) which is interpreted as `X` already being log-transformed.
You ca

[2021-02-15 13:26] WeilerP commented on #290
@plath997, did [this](https://github.com/theislab/scvelo/commit/8351f46922903f20eee61def96e7cc7af47a0475) resolve your issue? The fix is now included in `scvelo==0.2.3`. I'll close the issue for now. Happy to reopen if the issue still exists.

[2021-02-15 13:26] #290 closed

[2021-02-15 13:28] WeilerP commented on #264
@Ngort, were you able to resolve the issue by now?

[2021-02-15 13:29] WeilerP commented on #125
@jfouyang, I'll close the issue as the parallelisation is implemented as of `scvelo==0.2.3`.

[2021-02-15 13:29] #125 closed

[2021-02-15 13:35] yannikschaelte commented on #322
Thanks for checking! It seems to work now, maybe it was the scanpy update.

[2021-02-15 13:35] #322 closed

[2021-02-15 17:02] giovp opened #355 "figure params in notebooks different"
Hi,

I'm working through this notebook and noticed several things that are not consistent anymore:
https://scvelo.readthedocs.io/DynamicalModeling.html

For instance, line 15 through an error(rightly so)
[code]

<details>
<summary>Details</summary>

[code]

</details>

`df.iloc` should be used. Can't really judge which pandas version cause logging doesn't show.

Also, the same figure looks somethi

[2021-02-15 19:01] VolkerBergen commented on #355
Thanks @giovp, I think simple subsetting to a specified column does not require `iloc`. What do you have in `df[cluster][:5]` - how is it possible that it returns more than 20 vals?

For the coloring, have you annotated your `obs['clusters']` or computed `tl.louvain`?

[2021-02-15 20:07] giovp commented on #355
Thanks for quick reply @VolkerBergen !!! again, really minor thing. So in `df[cluster][:5]` I have all the highvar genes (for whichI computed diff kinetics).
For `obs['clusters']` of course yes have annotated and colors are uns. I get the correct behaviour by setting `color`
[code]

[2021-02-15 21:41] yunkaizhang commented on #294
previously I was using 0.2.2 and it happens with the demo pancreas dataset, after I upgrade to 0.2.3 the issue seemed to be gone now

[2021-02-16 09:44] WeilerP commented on #355
Hm interesting. @giovp, did you use the pancreas dataset or your own? Just ran the notebook in a fresh environment and everything worked as expected.
As @VolkerBergen already mentioned, `df[cluster][:5]` shouldn't cause an issue. Double checked on a couple of examples and it returns the same result as `df[cluster].iloc[:5]`.

Regarding the missing color in the scatter plot: Did you, by any chance,

[2021-02-16 10:56] Byronxy opened #356 "Bugs in scvelo tutorials: Velocities in cycling progenitors"
Hi, I'm running scVelo tutorials and met the error in the Velocities in cycling progenitors section
https://scvelo.readthedocs.io/VelocityBasics.html

[code]

The error are the followings:
[code]
</details>

#### Versions:

[code]

[2021-02-16 13:40] maddemaddi opened #357 "Stream embeddings for 3D plots"
Hi!

I am currently generating different types of 3D plots for our sc-data and I managed to plot the velocity arrows for single cells thanks to this former discussion [https://github.com/theislab/scvelo/issues/220]. However, the arrows are very small and abundant and it is therefore quite hard to interpret what is going on. Would there be any chance to extract coordinates for the stream embeddings

[2021-02-16 22:36] VolkerBergen commented on #357
Hi Madeleine,

there are a couple parameters such as `scale` that you can play around with to adjust the size of the arrows as described [here](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.quiver.html).

[2021-02-16 22:40] VolkerBergen commented on #356
Try upgrading `pandas`.

[2021-02-16 22:44] VolkerBergen commented on #352
For now, it's only Philipp. But will consider for the future to list those that contribute more regularly.

[2021-02-17 02:01] Byronxy commented on #356
Thanks for your help! It works after I upgrade `pandas`

[2021-02-17 02:01] #356 closed

[2021-02-17 09:24] dawe opened #358 "Support for external kNN approaches"
Hi, I'm using `scvelo` for some data spanning multiple experiments. I perform standard scRNA analysis using `sc.external.pp.bbknn`, whereas `scvelo` computes its own kNN graph using standard `scanpy`'s method (based on UMAP). Would it be possible (or maybe it is already and I don't know) to calculate moments using any provided kNN graph (possibly passing `neighbors_key` to `scv.pp.moments`)?

[cod

[2021-02-17 10:49] dawe commented on #358
Wait, is it `scv.pp.moments(adata, method=None)` after I have a knn graph built with the alternative tool (e.g. `bbknn`)?

[2021-02-17 11:28] WeilerP commented on #358
Moments can be calculated on a custom pre-computed knn graph. To prevent calculating a new knn graph [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/preprocessing/moments.py#L64), you can simply set `n_neighbors=None`. `scvelo` will retrieve the knn graph from either `adata.obsp[mode]` or `adata.uns["neighbors"][mode]` (mode is e.g. distances or conne

[2021-02-17 11:48] #358 closed

[2021-02-17 15:06] Laura19993 commented on #314
Any suggestions towards this? Would be also interested what would be the best option

[2021-02-17 19:25] WeilerP opened #359 "Add flake8 to pre-commit hooks"
## Description

To have a consistent coding style, `flake8` coding style should be enforced. This ultimately includes adding it to the pre-commit hooks and CI.

[2021-02-17 19:43] WeilerP opened #361 "Add isort to pre-commit hooks"
## Description

To unify how library are imported, we should use `isort` in the pre-commit hooks to order imports automatically.

[2021-02-17 19:49] WeilerP opened #362 "Replace numpy data types by Python builtin parts"
## Description

As of `numpy==1.20`, `np.int`, `np.float` and `np.bool` should be replaced by the native types included in Python.

[2021-02-17 21:43] hartlama opened #363 "remove labels from clusters on plot"
Hello,

I'm sure this is a simple fix, but I'm not familiar with matplotlib. I have my velocity plot colored by Seurat cluster numbers. The plot includes text on the plot labeling each cluster. How do I get rid of these?
![Run2961_TumorB1B2_scvelo_velocity](https://user-images.githubusercontent.com/74679498/108271719-3ae69380-713f-11eb-8994-d999f75a78ce.png)

[2021-02-17 21:58] VolkerBergen commented on #363
You can specify the absence/location of the legend via `legend_loc='none' `, `legend_loc='right' `.

[2021-02-18 05:53] dawe commented on #244
I had similar issues (with more recent version of scvelo), I learned how to avoid kNN re-computation. See #358

[2021-02-18 06:17] dawe opened #364 "Clarification on preprocessing"
I'm trying to figure out some details of the initial preprocessing steps of standard `scvelo` procedure. In particular:

*Normalization*
This happens on all layers (`adata.X`, `adata.layers['spliced']` and `adata.layers['unspliced']`). It _should_ be equivalent of `sc.pp.normalize_per_cell(adata, layers='all')`, is it? Also, in per_cell normalization has been deprecated in `scanpy`, will it be the

[2021-02-19 18:49] dawe opened #365 "[Question] Which slots to retain?"
Hi all, I'm dealing with some huge `scvelo` objects and I'm getting a lot of OOM errors. Fortunately enough, I was able to achieve a complete analysis and I have my `AnnData` object saved. One practical question: which slots (in `.uns`, `.obsm` , `.layers`) I can safely drop to make a tractable copy of the object only for plotting and gene selection? I assume I don't have to calculate any new valu

[2021-02-20 06:17] yxiaobme commented on #348
I have this question, too! The latent time plots showed the opposite trend to pseudotime plots and streamline plots.

[2021-02-22 09:14] quan-xu opened #366 "Lose cells when merge two anndata with `scv.utils.merge`"
When I merge two anndata to run velocity analysis with `scv.utils.merge(adata, adata1)`, I lose some of the cells.
I have 12 samples. When I merge the top 10 samples, it will not lose cells. When I merge the last 2 samples, it will also not lose cells. However, when I merge all 12 samples, it will only inclued a few cells from the last 2 samples. Do you have any suggestions? Thanks!

#### Versions

[2021-02-22 09:50] WeilerP commented on #366
Sorry not quite sure what you mean by samples. Would you mind clarifying?
Do your two AnnData objects share the same cells? `scvelo.utils.merge` performs an inner join i.e., only cells common across both AnnData are retained:

[code]

Does this help?

[2021-02-22 09:59] quan-xu commented on #366
I am doing `velocity analysis`, so all 12 samples are paired.
It will retained cells if I merge the first 10 pairs of sample, and it will retained cells if I merge the last 2 pairs of sample. But if I merge all 12 pairs of samples, it will retain the first 10 samples, and only retain a few cells from the last 2 samples.

[2021-02-22 10:17] VolkerBergen commented on #366
Check the `adata.obs_names` and the overlap `pd.unique(adata.obs_names.intersection(ldata.obs_names))` to understand what kind of discrepancies there may be between cell IDs in the different samples.

[2021-02-22 10:41] quan-xu commented on #366
Hi, thanks for your help, this is the output of cell name intersection.

[code]
Index(['F49-W06-B1-S1-P_lib1:AAAGATGTCATCGATGx',
       'F49-W06-B1-S1-P_lib1:AACCGCGCAAAGGTGCx',
       'F49-W06-B1-S1-P_lib1:AAACCTGGTGCCTGTGx',
       'F49-W06-B1-S1-P_lib1:AAACCTGCACTGAAGGx',
       'F49-W06-B1-S1-P_lib1:AACACGTTCAATCTCTx',
       'F49-W06-B1-S1-P_lib1:AAAGTAGTCTTACCGCx',
       'F49-W06-B1-S1-P_li

[2021-02-22 10:48] VolkerBergen commented on #366
That's almost maximal overlap after cleaning the names. You can finally check what's missing `[i for i in mdata.obs_names if i not in a]`.

[2021-02-22 11:40] quan-xu commented on #366
Thanks! I solved my problem. It is because I add `cache=True` when I run `scv.read()`. It will load my previous `loom` file that didn't include my new samples.

[2021-02-22 11:40] #366 closed

[2021-02-23 05:56] junhaobearxiong opened #367 "How `tkey` is used in `tl.velocity_graph` / best practice for time-course data"
Hi!

I have a question on how the `tkey` argument is used in `scvelo.tl.velocity_graph`. Based on the documentation, my impression of the use case is when one has time-course data, where each cell is associated with a time point (e.g. day 1, 3, 5). Intuitively, the information of time can be used to "prune" unlikely transition when constructing the velocity graph, e.g. when the cells are very far

[2021-02-23 10:47] junhaobearxiong commented on #367
A follow up question on the plotting function for velocity graph (`scvelo.pl.velocity_graph`). I noticed here that in the default setting, the plotting function doesn't plot the transition matrix based on `adata.uns['velocity_graph']`, but instead run `transition_matrix`. I'm wondering how is this different from running `scvelo.tl.velocity_graph`?

Suppose one has already ran `scvelo.tl.velocity_g

[2021-02-23 12:21] VolkerBergen opened #368 "Address root prior support for ambiguous gene dynamics"
The following PR needs to be adapted to the current implementation and extended with different types of priors (root cell or a set of potential root cells such as first expt timepoint).

https://github.com/theislab/scvelo/pull/144

[2021-02-23 16:10] WeilerP commented on #355
As @VolkerBergen already mentioned, `df[cluster][:5]` shouldn't cause an issue. Double checked on a couple of examples and it returns the same result as `df[cluster].iloc[:5]`.
Regarding the missing color in the scatter plot: Did you, by any chance, set the figure params, e.g., also in scanpy? I previously encountered problems / inconsistencies when setting both.

@giovp, do you have an update on

[2021-02-23 16:32] giovp commented on #355
Hi @WeilerP , sorry for being late. Actually I did not manage to nail it down and could have most likely been an issue with anndata on my side. I will close this for now and re open it if I encounter it again. SOrry for not following it up.
Thank you!

[2021-02-23 16:32] #355 closed

[2021-02-23 22:23] yunkaizhang commented on #112
Hi there,
Wondering if you have fix this problem?
Can you also look into the latent_time or velocity_pseudotime for your dataset? Wondering these may be similar to PAGA (and inverted to velocity_stream) since PAGA are based on these.

[2021-02-24 02:10] akhst7 opened #369 "Error loading SeuratDisk converted h5 Ann object"
This is not a bug report but I am an absolute python/scvelo newbie and  I need a help figuring out what the issue is and how to fix it.  I converted Seurat object to h5ad, which is an Ann object, and tried to load it to ScVelo but I run into an issue.

[code]

--------------------------------------------------------------------------
KeyError                                  Traceback (most recent

[2021-02-24 10:05] mzhibo commented on #305
having the same issue

[2021-02-25 11:30] WeilerP commented on #369
Looks like this is a problem originating from `anndata`, i.e., not related to the `scvelo` core. I suggest you open an issue there.

[2021-02-25 11:30] #369 closed

[2021-03-01 16:58] arutik commented on #267
Hi,

I have a question about running velocyto on 10X snRNA-seq data (I hope this is the right place to ask)

My 10X snRNA-seq samples have been aligned and quantified with cellranger using the **pre-mrna** human genome (generated as specified [here](https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/advanced/references) in section `Generating a Cell Ranger compat

[2021-03-01 17:55] #365 closed

[2021-03-01 17:55] #364 closed

[2021-03-03 11:21] balthasar0810 opened #370 "scv.pl.velocity_embedding_stream error"
Hi everybody,

I am getting a KeyError (full error below) when executing:
scv.pl.velocity_embedding_stream(bdata, basis="X_diffm", color ="clust")

Code is easy and is the following:
scv.pp.filter_and_normalize(bdata,min_shared_cells=10)
scv.pp.moments(bdata, n_pcs=30, n_neighbors=30)
scv.tl.velocity(bdata, mode='stochastic')
scv.tl.velocity_graph(bdata)
scv.pl.velocity_embedding_stream(bdata,basi

[2021-03-03 12:10] balthasar0810 commented on #370
I solved the issue as I noticed my embedding was a pandas df and not a np.array. Converting it to a np.array solved the issue. Thx

[2021-03-03 12:10] #370 closed

[2021-03-04 10:45] balthasar0810 opened #371 "single-nuclei RNA-seq arrows in opposite direction"
Hi!

Following up on a few issues mentioning this (#118 #267), I do also see velocity arrows in the opposite direction (of what is known) for my single-nuclei data. As few people mentioned it, but I didn't find an explanation, where does this come from?

Best, Chris

[2021-03-04 11:19] WeilerP opened #372 "Improve structure and organisation of code base"
## Description

To structure and organise the code base better (e.g. no duplicate function definition), a submodule `core` can be added. The submodule includes all generic functionalities or those applicable to several parts.

[2021-03-04 12:59] WeilerP opened #375 "Add isort check to CI"
## Description

The CI needs to include a check ensuring imports are ordered according to `isort` format. See [here](https://pycqa.github.io/isort/docs/configuration/github_action/) for isort's demo on how to achieve this.

[2021-03-04 13:00] WeilerP commented on #375
Prior to adding `isort` to the CI, all libraries used within the code base should be installed through `pip install -r requirements-dev.txt`.

[2021-03-04 13:04] #359 closed

[2021-03-04 13:39] Zethson commented on #375
Maybe it would be a good idea to just add a job for pre-commit.
Then you would just need to add your linting tools to pre-commit and don't need to adapt the CI every time.

[2021-03-04 13:51] WeilerP commented on #375
Yes, was going to do that in the future. Should probably do it right away instead of this issue.

[2021-03-05 06:09] honghh2018 opened #376 "how to tranfer the scvelo arrow of velocity into seurat to visulize?"
Hi @ALL,
    Thanks to develop the great tools for RNA velocity analysis.
     On my case, i hope to  tranfer the velocity arrow into the seurat to visulize the UMAP with the scvelo arrow using R language.
     Best,
     hanhuihong

[2021-03-06 04:57] Junjie-Hu opened #377 "IndexError: index 1 is out of bounds for axis 1 with size 1"
Dear Volker,
when I am  analyzing a dataset following the guidelines (https://github.com/basilkhuder/Seurat-to-RNA-Velocity), there is a error regarding scv.pl.velocity_embedding:

[code]
Then I check my scvelo version, it is the lastest one:

[code]
According to the previous issue #136 , I check the index as you said. However, it seems that there are no errors. How to deal with it？

[code]

In ao

[2021-03-07 01:44] akhst7 opened #378 "Please, port Scvelo to R"
Hi,

Converting Seurat or SingleCellExperiment obj to loom or Ann to import in Python environment has been excruciatingly painful.  I'd really appreciate if you could port scvelo to R much like Velocyte.R

Thanks.

[2021-03-09 18:47] oligomyeggo opened #379 "Numpy deprecation warning in scv.tl.recover_dynamics"
Hi there! I am using scVelo version 0.2.3, and am getting a deprecation warning when running `scv.tl.recover_dynamics`. It looks like it is an issue with numpy:

`.../python3.8/site-packages/scvelo/tools/dynamical_model.py:697: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is de

[2021-03-10 08:33] WeilerP commented on #379
Thanks for pointing this put! Had it already in the backlog but forgot to open an issue.

[2021-03-10 15:13] #361 closed

[2021-03-10 15:34] Laura19993 opened #381 "moments calculations failed in nopython mode pipeline"
When trying to execute `scv.pp.moments(adata, n_pcs=30, n_neighbors=30)` I get the error below. I am pretty new to python and any help is very much appreciated. Seems to be something about numba and not scVelo directly?
Thanks, Laura

[code]
#### Versions
scvelo==0.2.3  scanpy==1.7.1  anndata==0.7.5  loompy==3.0.6  numpy==1.20.1  scipy==1.6.1  matplotlib==3.3.4  sklearn==0.24.1  pandas==1.2.3

[2021-03-10 15:51] WeilerP opened #382 "Improve developer installation"
## Description

As of now, the developer installation does not include all packages required for a full developer cycle. For example, not all packages needed to run the unit tests will be installed (or `pytest` for that matter).

[2021-03-10 20:02] WeilerP commented on #381
Which version of numba are you using?

[2021-03-10 20:33] Laura19993 commented on #381
0.51.2

[2021-03-11 03:55] yuehhua opened #384 "The (un)spliced information is different from the phase diagram"
Thank you for making this great package. I want to leverage the advantage and build my own model.
Thus, I need spliced and unspliced gene expression, so I found `adata.layers['spliced']` and `adata.layers['unspliced']`.
First, I want to verify these values. As my expectation, it should look like this.

![Imgur](https://i.imgur.com/QwKIwro.png)

I tried to plot phase portrait myself. I try the Rps3

[2021-03-11 08:18] WeilerP commented on #381
Okay, using Python 3.9 may be a problem here. A similar issue has previously been raised in scanpy [here](https://github.com/theislab/scanpy/issues/1652). Also, scvelo has only been tested under Python 3.7 and 3.8, so if you do not necessarily need to use Python 3.9, I suggest to switch to Python 3.7 or Python 3.8. Should you need to use Python 3.9, you can follow the suggestion in above mentioned

[2021-03-11 08:18] #381 closed

[2021-03-11 08:29] WeilerP commented on #384
Since raw data is usually noisy and sparse, we impute it and, following, study phase portraits, infer model parameters, etc. As you already mentioned correctly, the slots `'Mu'` and `'Ms'` are (first) moments of unspliced and spliced counts. The first moments are given by the average gene expression of the *k* nearest neighbors of a cell. As such, they can be interpreted as the mean value of a loc

[2021-03-11 08:29] #384 closed

[2021-03-11 09:58] Laura19993 commented on #381
Thank you very much, it is working now when using python 3.8!

[2021-03-11 23:24] smorabit commented on #267
Hi Anna,

Not one of the scvelo authors but I have run into the same situation. The pre-mrna reference used for 10X is basically telling cell ranger to consider introns as exons, so that introns will be counted towards gene expression quantification. In newer versions of cell ranger you actually just specify `--include-introns` rather than using a separate reference. However, when you apply that p

[2021-03-12 21:12] alexmascension opened #386 "Doubt about security of scvelo results."
Hi! I've been using scvelo recently for some analysis, and I've come across some results that we striking to me.

My data are some cells at days 0, 2, and 4, and I've run the analysis as in the mock data from this notebook
https://colab.research.google.com/drive/1I-KV-QSJU7v1GuzIwzI9lSY2CiAAIKj7?usp=sharing

The point is that when I did the scatter of several genes (marker genes selected within th

[2021-03-13 06:25] yuehhua commented on #384
Thank you so much!

[2021-03-15 12:05] WeilerP opened #387 "Unit tests `test_basic.py` fail with `numba==0.53.0`"
## Description

Using `numba==0.53.0` (released March 11), the CI fails using the latest version of scvelo (the unit tests in `test_basic.py` do not pass). See [here](https://github.com/WeilerP/scvelo/runs/2112241472?check_suite_focus=true) for a failed CI run.

[2021-03-15 13:19] #387 closed

[2021-03-15 13:28] WeilerP opened #389 "Move generic/utility functions to core"
## Description

Generic/utility functions applicable to several aspects of the code base should be moved to `core/`.

[2021-03-15 18:12] WeilerP opened #391 "Parallelize computation of cosine similarities"
## Description

The computation of cosine similarities [here](https://github.com/theislab/scvelo/blob/9048768724c23ab7bb992f059b2178f253a9d177/scvelo/tools/velocity_graph.py#L172) can be parallelized.

[2021-03-16 09:56] arutik commented on #267
Thank you very much Sam, I will try that!

Anna

[2021-03-16 10:52] WeilerP commented on #386
First order moments are defined as the mean expression of the _k_ nearest neighbors of a cell. Not sure what you mean by "predicted Ms" or "recovering" them as moments are not a real physical variable you can measure (and therefore not recover or predict). The moments are used to smoothen measurements and reduce the sparsity of the data. This step is crucial for even having a chance to observe spl

[2021-03-16 15:39] alexmascension commented on #386
Hi! Thanks for the help.

I understand the Ms now. What I show in the pictures is the scatter plot of each of the variables produced by scvelo, because I didn't know exactly what was being plotted by the scatter function with the default settings (first subplot). By "expressed cells" I mean cells with expression > 0.

The point is, although I get that using kNN expression is necessary, I have doub

[2021-03-16 15:58] WeilerP commented on #386
Okay, so there are only ~20 cells containing expressed genes? Not sure if I understood correctly, but cells containing only zero counts should be removed during quality control.
Also, as part of the preprocessing, genes expressed in only a small number of cells should be excluded from any downstream analysis as well. You can do so via `scv.pp.filter_genes`. Alternatively, you can also use `scv.pp.

[2021-03-16 15:59] #386 closed

[2021-03-16 16:02] alexmascension opened #394 "Okay, so there are only ~20 cells containing expressed genes? Not sure if I understood correctly, but cells containing only zero counts should be removed during quality control."
Okay, so there are only ~20 cells containing expressed genes? Not sure if I understood correctly, but cells containing only zero counts should be removed during quality control.
Also, as part of the preprocessing, genes expressed in only a small number of cells should be excluded from any downstream analysis as well. You can do so via `scv.pp.filter_genes`. Alternatively, you can also use `scv.pp.

[2021-03-16 16:05] WeilerP commented on #394
Sorry, moved the issue to discussions [here](https://github.com/theislab/scvelo/discussions/393) as this isn't an issue related to the code base but a discussion on the general methodology. Please repost your comment there.

[2021-03-16 16:05] #394 closed

[2021-03-16 16:28] #382 closed

[2021-03-17 11:17] chansigit opened #395 "should I use precomputed umap embedding/clustering or compute it with scvelo?"
I always used umap and clustering computed by scanpy based on expressional profiles. And I noticed that scVelo also provided clustering and umap embedding computation.

I guess the scvelo's umap/clustering is based on the velocity neighbors so might be better for visualization and lineage identification.

should I use the original cluster/umap or recompute it with scVelo?

[2021-03-18 02:08] wangjiawen2013 opened #397 "discrete and continuous clusters"
Hi,
Are there any prerequsites to use scvelo ?
It seems that the tutorial of scvelo uses continuous cell states,:
![image](https://user-images.githubusercontent.com/29703450/111562422-27c3f380-87d1-11eb-80bd-da57e549707c.png)

what about discrete states ? for example:
![QQ图片20210318100751](https://user-images.githubusercontent.com/29703450/111562784-bdf81980-87d1-11eb-8db5-a5e250908365.png)
In thi

[2021-03-18 02:39] wangjiawen2013 commented on #89
Are the velocity_pseudotime(https://scvelo.readthedocs.io/scvelo.tl.velocity_pseudotime.html) and pseudotime (https://scvelo.readthedocs.io/scvelo.tl.latent_time.html) the same thing ? which one should I use to depict the development trajectory ?

[2021-03-18 09:59] VolkerBergen commented on #395
`umap`, `leiden`, `louvain` in `scanpy`/`scvelo` are equivalently computed on the actual neighbor graph (transcriptome/pca-based, not velocity-based), thus using the precomputed ones is fine.

[2021-03-18 10:07] VolkerBergen commented on #397
The actual velocities as well as the transition probabilities are independent of the embedding (checkout e.g. https://github.com/theislab/cellrank making use of those in high-dim space), while the projection is embedding-dependent of course. Yet, if the UMAP coord with reasonable parameter settings show such discrete clusters, you would also expect them to be rather distinct not expecting any obse

[2021-03-18 10:21] dawe commented on #395
Following the initial question, what would be the strategy to calculate the embeddings starting from the velocity graph?

[2021-03-18 10:35] VolkerBergen commented on #395
If you want to incorporate velocity information, we've had a first suggestion of a velo-based diffusion map [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/tools/velocity_pseudotime.py#L59). Otherwise, you cold consider an autoencoder-based approach for a joint latent representation of un/spliced.

[2021-03-18 11:05] #391 closed

[2021-03-18 12:02] WeilerP opened #398 "Use consistent import statements"
## Description

ATM, both absolute and relative import are used. For consistency, the imports should we updated to use

* relative imports if the file being important from is part of the same module, e.g., `from .X import Y`
* absolute otherwise, e.g., `from scvelo.X import Y`

[2021-03-18 14:05] dawe commented on #395
Thanks. As for the second choice, a few weeks ago I have been trying MOFA+ (not AE-based) on both layers and I ended up with teardrop-like patterns which nicely correlated with latent time from the dynamical modelling. I didn't pay attention then, I wonder if instead was a general result. I hope I can find time to investigate this further

[2021-03-18 14:39] #398 closed

[2021-03-18 15:01] #362 closed

[2021-03-18 15:17] WeilerP opened #401 "Pandas is_categorical is deprecated"
## Description

Pandas `is_categorical` is deprecated. `is_categorical_dtype` should be used instead. As far as I see, `is_categorial` is only used [here](https://github.com/theislab/scvelo/blob/8f3cd89e9168e6ab9401638fd83279d2570c8829/scvelo/plotting/utils.py#L50).

[2021-03-18 15:28] #401 closed

[2021-03-19 17:50] preetida commented on #247
Hi,
I. have a similar problem, I am running after filter marix which is big. ` n_obs × n_vars = 96344 × 36601`
I am running on local on Mac  (12 cores, 64GB of RAM), got into memory error.
I am now running on cluster, and can ask more core, What is the best way to ask more resources

`scv.tl.recover_dynamics(adata, n_jobs=32)`

[2021-03-19 18:14] dawe commented on #247
I don't want to make this a RAM-usage challenge, but I have a ~12k x 50k matrix and I had RAM peaks > 240Gb. Also, I found that running in jupyter multiple velocity estimations on the same object (in chain, one after the other) is not memory-friendly (blame python, I guess), and eventually crashes.

[2021-03-22 14:47] WeilerP opened #403 "Add type hints to functions"
## Description

All function arguments should include type hints which can be used automatically by the docs.

[2021-03-22 15:41] WeilerP commented on #247
@preetida , @dawe the recovery of the underlying dynamics is currently being refactored s.t. it is, amongst other things, memory efficient. Hope to merge a first prototype in the coming days.
I'll already close this issue, though, as it was focused on improving the runtime of `tl.recover_dynamics` which was solved by #342. I'll open a new issue specifically for the memory issue. Feel free to repos

[2021-03-22 15:41] #247 closed

[2021-03-22 15:47] WeilerP opened #405 "Memory error and large memory usage for parallelised `tl.recover_dynamics`"
## Description

Running `tl.recover_dynamics` in parallel on a large dataset can lead to memory errors or large RAM usage. See e.g. [here](https://github.com/theislab/scvelo/issues/247#issuecomment-803006512) and [here](https://github.com/theislab/scvelo/issues/247#issuecomment-803020366).
This is likely due to the fact that the the `DynamcisRecovery` class uses the entire AnnData object as an att

[2021-03-22 15:56] WeilerP commented on #405
@preetida, you could try reducing `adata` to include only the minimally required information for recovering dynamics. If I am not mistaken, this should only be the imputed data, connectivities and potentially the fitted parameters specified in `adata.var`. You also only need to keep the (potential) velocity genes, for example estimated by the steady state model. This may reduce the data size quite

[2021-03-22 19:21] WeilerP opened #406 "Add and improve documentation and comments"
## Description

Large parts of the code base do not yet have docstrings or comments to help understand the intention of functions/parts. To help users and developers, the documentation should be consistent and improved.

[2021-03-25 02:08] wangjiawen2013 commented on #163
A start on correcting for batch effects in RNA velocity.
https://www.hansenlab.org/velocity_batch
hope it helps

[2021-03-25 02:12] wangjiawen2013 commented on #163
Monocle3 tries to remove batch effects using MNN. https://cole-trapnell-lab.github.io/monocle3/docs/clustering/#batch-effects
But I don't think it works well for both monocle and RNA velocity, because it's hard to tell batch effects from true biological variation. In this case, it's better to call it "data integration" rather than "batch effects removal".

[2021-03-25 19:18] 14lwt1 opened #409 "scv.tl.velocity_pseudotime setting "groupby" produces NaN pseudotime values"
Hi,
When computing pseudotime, I set the "groupby" argument to the variable "lineage", which groups clusters into respective lineages.
However, when I extracted the pseudotime associated with each cell, I found a total of 10 cells with NaN values out of 4378 cells in the dataset. These cells seem to locate toward the end of the trajectory.
Not entirely sure how to interpret this.

scv.tl.velocity_

[2021-03-26 20:52] govekk opened #410 "Groups parameter in scv.pl.paga doesn't do anything"
Setting the groups parameter in scv.pl.paga doesn't change the output. I believe this is because the adata variable is used instead of the _adata variable in the lines that extract the embedding and centroid positions.

#### Versions:
scvelo==0.2.3  scanpy==1.7.1  anndata==0.7.5  loompy==3.0.6  numpy==1.19.4  scipy==1.5.3  matplotlib==3.3.3  sklearn==0.23.2  pandas==1.1.4

[2021-03-27 08:02] yujinmath opened #411 "What do you mean by fit_t_, fit_tau_, fit_tau, and fit_t_ in the parameters of the inference ?"
Hi,everyone!
There is a problem that bothers me recently. What do you mean by fit_t_, fit_tau_, fit_tau, and fit_t_ in the parameters of the inference output of the dynamics model?
Thanks in advance for your help!

[2021-03-29 20:12] GabrielBaldissera commented on #164
I'm currently implementing this analysis in my data and I have the same question and conditions ( control and KO).

I would like to test the velocities by comparing cells from distinct genotypes. It would be really cool to do something like sc.tl.rank_genes_groups(adata, groupby='clusters_genotype'), like cluster3_wt vs cluster3_KO. However, I am not sure if doing a joint analysis of two samples w

[2021-03-31 05:17] honghh2018 opened #414 "The scvelo dynamics mode generated the NaN and INF on loom file can not be saved"
Hi, All,
    I got some weird issue, when runing the merged loom using the scvelo setting  mode with dynamics,
    When i want  to save the middle files with loom format, it showed below error:

![image](https://user-images.githubusercontent.com/41668708/113093929-69b65600-9223-11eb-9c27-7cf4d7a8ac76.png)

    the code showing below:
    scv.tl.recover_dynamics(samples)
   scv.tl.velocity(samples,

[2021-03-31 07:27] VolkerBergen commented on #414
There are two possible workarounds:
1) Write as h5ad: `samples.write('temp11122221.h5ad')`
2) change NaNs to zeros: `adata.layers['velocity'] = np.nan_to_num(adata.layers['velocity'])`

3) you could also open an issue for `loompy` with the request to enable storing NaNs.

[2021-03-31 07:31] VolkerBergen commented on #411
That's bit cryptic indeed - will update the docs. It's only being used internally, thus a full description if yet missing. Hope this helps for now:

- `fit_t` corresponds to the gene-wise latent times.
- `fit_t_` are the swicthing timepoints.
- `fit_tau_` are the timepoints of assigning observatins to the off-state (necessary to generate likelihoods after the fitting)
- `fit_tau` same as above, bu

[2021-03-31 07:44] #411 closed

[2021-03-31 12:11] honghh2018 opened #416 "the scvelo adata object adata.obs['seurat_clusters'] = cell_clusters_ordered.values occurred error"
Hi @All,
     I want to add the seurat cluster into scvelo adata object but it show me error the key error 'seurat_clusters'.
     But when i perform the same procedure in hand using python shell interaction, it can work well on below command,
adata.obs['seurat_clusters'] =  cell_clusters_ordered.values
      the 'cell_clusters_ordered' was DataFrame including  one column of seurat clusters.

[2021-03-31 18:53] GabrielBaldissera opened #417 "Best practices on data integration and analysis of stimulated sample"
Hello,

I am using scvelo to investigate possible differences in two samples (WT and KO) related to hematopoiesis. For that, I have created an anndata file merging the information of my loom files with the following comand:

[code]
I applied the required normalizations and selected HVG genes. Then, I have estimated the velocities for each sample separetly using the _groupby_ argument.
`scv.tl.velo

[2021-04-01 04:49] honghh2018 opened #418 "how to save the plot into specific path in scv.pl.velocity_embedding_stream"
Hi @All，
     Thanks to develop the great tools.
      I got a question that i am going to save the plot into specific path like below:
      scv.pl.velocity_embedding_stream(samples, basis='X_seurat', color=['seurat_clusters','initial_size_spliced','initial_size_unspliced'],save= os.path.join(outdir,'02.rna_velocyto','embedding_stream','velocity_embedding_stream.png'))
      It was unsuccessful,

[2021-04-01 11:12] honghh2018 commented on #418
Can anyone could help?

[2021-04-01 11:22] VolkerBergen commented on #418
Generally passing the directory directly through `save` should work. Otherwise, you can also set the `scv.settings.figdir` to the desired path.

[2021-04-01 11:28] VolkerBergen commented on #417
Hi @GabrielBaldissera,

I think the answer is relatively short: What you would want is an 'inner' join using an intersection of genes, i.e., `anndata.concate(..., join='inner')`. Let me know, if that works.

[2021-04-01 11:31] honghh2018 commented on #418
Thanks  @VolkerBergen  the advices, i try the save parameter and give it the absolute path '/share/nas1/Data/PipeLine/Other/RNA_Velocity/analysis/test88888.png', it display below error:

![image](https://user-images.githubusercontent.com/41668708/113287929-d06d6980-9320-11eb-9a66-46ef82bb4f9d.png)

'FileNotFoundError: [Errno 2] No such file or directory: './figures/scvelo_/share/nas1/Data/PipeLine

[2021-04-01 11:44] VolkerBergen commented on #416
Try `adata.obs['seurat_clusters'] = np.ravel(cell_clusters_ordered.values)`.

What exactly is the error message?

[2021-04-01 12:03] VolkerBergen commented on #418
Ok, I understand. That is due to the 'scvelo_' prefix, which you can remove with `scv.settings.plot_prefix = ''`.

[2021-04-02 03:19] honghh2018 commented on #418
Excellent,  @VolkerBergen  it worked. thanks

[2021-04-02 03:22] honghh2018 commented on #416
Thanks the reply,
I guess i had figure out what go on this issue.
I had found the variable  cell_clusters_ordered.values was empty without any value, so it trigger error.

[2021-04-02 03:28] honghh2018 opened #419 "The latent time heatmap displaying confused result"
Hi @All,
     It was so weird that when draw the heatmap using latent time columns selectting 300 genes in scv object.
     The picture showing the gene PRKY duplication just posted below:
![image](https://user-images.githubusercontent.com/41668708/113377096-e83b0100-93a5-11eb-8701-42713bc9d6a8.png)
     The code lying below:
      top_genes = samples.var_names[samples.var.fit_likelihood.argsort()

[2021-04-04 20:16] yjgeno commented on #286
Great question! I was still wondering if we will get 'NaN' for the velocity of genes that are not 'velocity_genes'?

[2021-04-04 20:39] yjgeno opened #420 "Filter in velocity_length"
Hi there, excellent work! My issue is that I wanted to test the difference of velocity length, which is simply the norm of computed velocity vectors, between two groups. Basically, I just called

[code]

However, it looks there is a filter defined in the raw code of velocity_length, which filtered out genes with velocity 'NaN' and genes that are not 'velocity_genes'.

I have two questions regardin

[2021-04-04 22:22] GabrielBaldissera commented on #417
Hello! It worked beautifully. I was able to move on with my analysis.
Thanks!

[2021-04-04 22:22] #417 closed

[2021-04-04 23:19] zhangjiaobxy opened #421 "How to save the figure from scv.pl.proportions()?"
Thanks for developing this awesome package. I have a minor question.

I didn't find a `save` parameter from `scv.pl.proportions()`. Is there a way that I can save the figure which is generated from `scv.pl.proportions()`?

I am using scVelo version 0.2.3.

Thanks a lot!

[2021-04-05 09:22] rvinas opened #422 "Issue loading the pancreas dataset"
I cannot load the pancreas dataset:

[code]

(please see the output of `scv.logging.print_versions()` below)

<details>
<summary> Error </summary>
Traceback (most recent call last):
  File "/home/rv340/anaconda3/envs/pytorch38/lib/python3.8/site-packages/anndata/_io/utils.py", line 156, in func_wrapper
    return func(elem, *args, **kwargs)
  File "/home/rv340/anaconda3/envs/pytorch38/lib/python3.

[2021-04-12 06:58] Dantferno opened #423 "Integrated data"
Hi and thank you for the awesome package.

I was wondering if you made any progress concerning the analysis of integrated data (like with seurat anchors)?
We have single cell data from multiple patient integrated together, we think there is a cell population showing the transition between two states, however this population seem to be rare, and just patient by patient there is not enough informati

[2021-04-12 07:18] dawe commented on #423
I would compute the cell graph using bbknn (or harmony?) and calculate moments from that, at least to ensure batches are properly handled.

[2021-04-12 07:27] VolkerBergen commented on #423
hi @Dantferno, coming up with a method to handle multiple batches has been rather challenging. What our analysis has shown though, is that from all the methods we've tested, only bbbknn (as @dawe suggested) seemed to be applicable without further extension. That is because it simply adjusts the neighbor graph which is then used to compute moments for un/spliced from the same graph without need of

[2021-04-12 07:28] #423 closed

[2021-04-12 07:47] VolkerBergen commented on #421
`scv.pl.proportions` has no save option yet. Will implement that for the next release. As workaround you can do:
[code]

[2021-04-12 14:25] zhangjiaobxy commented on #421
Thanks @VolkerBergen ! I can save the figure in this way! Thanks for your help!

[2021-04-14 20:53] jinyoung5484 commented on #321
I also ran into this error,
@eynullazada how did you solve this issue?

[2021-04-14 20:58] eynullazada commented on #321
Hi

I found out actually scvelo filters out many genes while calculating velocity and maker genes that I was interested in were filtered out too. I confirmed it by visualizing random genes that are not filtered.

I hope it helps

Khagani

[2021-04-14 21:27] jinyoung5484 commented on #321
It works perfectly fine! Thank you!

[2021-04-15 01:13] semir2 opened #425 "scvelo.pl.velocity without velocity graph for some genes"
Hi, Thanks for great tool, it helped me a lot. Now I have a problem fro ploting, when I want to show key genes for transation of  direct with function of scvelo.pl.velocity, most genes have been showed right way, but one gene showed no velocity graph, I do not know why and could you tell me what happened to this?
![image](https://user-images.githubusercontent.com/46958122/114799673-c2acef00-9dca-1

[2021-04-16 14:31] ccruizm commented on #162
Good day!

I was wondering if there is a solution for these datasets where the velocity is inverted. Thanks !

[2021-04-16 15:10] VolkerBergen opened #426 "Better handling of legends"
[code]

produces these rather unaesthetic figures.

![image](https://user-images.githubusercontent.com/31883718/115044300-a9449980-9ed5-11eb-86ad-2c08abee6fdf.png)
![image](https://user-images.githubusercontent.com/31883718/115044654-fde81480-9ed5-11eb-9df7-182eab913427.png)

For the first one, we should figure out how to avoid such overlapping.
For the second, we could make use of https://github.

[2021-04-19 03:08] yjgeno commented on #420
Hi, any insights or comments?

[2021-04-19 07:38] WeilerP commented on #420
By default, parameters are only fitted for genes identified as  (potential) velocity genes. To identify these genes, we run the original RNA velocity model using extreme quantile linear regression. Following, there should not be any velocity calculated w.r.t. genes not identified during this process. Can you provide a reproducible example where a gene is not labeled as a velocity gene but its corr

[2021-04-19 19:31] yjgeno commented on #420
Hi Weiler, thanks for the comments.
I referred to your velocity_confidence.py and it turns out there are 3 filters before it computes the velocity length:
https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/tools/velocity_confidence.py#L44

I listed the top 2 of them:
[code]
My question was simply about the necessity of the second filter, as the first one will f

[2021-04-20 05:35] WeilerP commented on #420
Ah, I see. You can always fit genes not identified as velocity genes by passing their names to `recover_dynamics` through the argument `var_names`. The second step to set up the filter ensure that such genes are ignored.

[2021-04-20 15:00] yjgeno commented on #420
I see, this helps!
May you also specify your conditions to identify genes as 'velocity genes'?
It turns out if I define velocity genes manually before dynamic recovery, for some genes it gives me WARNING: GeneXX not recoverable due to insufficient samples.
Do you tell from the info of linear regression for stable states?

[2021-04-20 15:40] GabrielBaldissera opened #429 "Velocity on hematopoiesis: is it advisable at all?"
Hello!

I am working in the velocity analysis and I am wondering wether I should trust my results or not. My dataset is composed of cells involved in zebrafish hematopoiesis at 26hpf. The overall directions I see are not according to what I would expect for this process.

The following is the visualization for my WT sample.
Clusters 0, 1, 2, and 7  are all artery cells. Cluster 3 is a group of end

[2021-04-20 15:50] VolkerBergen commented on #429
Hi Gabriel,

good timing to ask that Q as we're currently wrapping a perspectives paper highlighting some of the limitations in RNA velocity estimation, particularly in hematop.

Generally, I'd advise to be extra careful with conclusions in hematop., as we've observed all kinds of interesting effects, including transcriptional boost, time-dependent decay rates etc. (e.g. in erythroids) that are no

[2021-04-20 15:51] #429 closed

[2021-04-22 21:13] michalk8 opened #431 "Plotting of gradients take too long"
`scv.pl.scatter(..., color_gradients=...)` takes too long (~167-180s) when plotting a lineage with `38731 cells x 31 lineages`.
Think this loop https://github.com/theislab/scvelo/blob/master/scvelo/plotting/scatter.py#L277 can be vectorized in numpy and some of the code above (e.g. https://github.com/theislab/scvelo/blob/master/scvelo/plotting/scatter.py#L271) can be moved after the `if np.sum(c_b

[2021-04-23 14:56] therealgenna opened #432 "velocity_embedding_stream does not honor 'color_map' argument"
Setting/changing `color_map` has no effect - same colors are shown on the plot. I think this is because `cmap` and `color_map` are used interchangeably. While in `velocity_embedding_stream` color_map is obtained via `kwargs.pop("cmap", color_map)` and should be set right, it's then passed to `scatter` via `**scatter_kwargs` as `color_map`.  BUT in `scatter` its `color_map` is defaulted to `None`,

[2021-04-23 19:15] smgroves opened #433 "Goodness of fit for velocity based Markov Chain model"
Is there a suggested way to test the goodness of fit of the markov chain model (i.e. the transition matrix) that is derived from the velocity graph? Since single cell data can be very noisy, it would be nice to have some kind of measure to determine how confident we can be in the transition matrix, similar to the velocity confidence metric, that allows us to understand how much variability should

[2021-04-27 07:08] WeilerP commented on #422
Sorry, I cannot replicate the error locally. Did you try running the code in a new, clean environment? Also, the problem seems to be not directly with scvelo but rather anndata. If you haven't already done so, I'd run the code in a new, clean environment and if the error still persists open an issue on the anndata repo.

[2021-04-27 07:08] #422 closed

[2021-04-28 09:22] WeilerP commented on #420
No, the model is defined as recoverable if there are at least two cells with non-trivial counts in the unspliced **and** spliced data. See [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/tools/dynamical_model_utils.py#L761).

[2021-04-28 09:22] #420 closed

[2021-04-28 13:00] chenyixue09 opened #435 "How to reproduce scvelo.tl.latent_time() results on different computers?"
The `scvelo.tl.latent_time()` results of the same dataset and analysis procedure are different, when computed using two computers that both run Linux operating system and have the same conda environemnt. Following are the `scvelo.tl.latent_time()` results computed by the aforementioned computers. The `conda env export` output, complete analysis code and results are appended at the bottom. The resu

[2021-04-28 13:29] VolkerBergen commented on #435
Results should be perfectly reproducible, if setting a random state, e.g., using `np.random.seed(0)` and
[code]

Can you check that, otherwise @WeilerP cac you help investigating this?

[2021-04-28 19:56] yjgeno commented on #420
That helps! thank you so much

[2021-04-28 21:08] chenyixue09 commented on #435
Thank you @VolkerBergen
I have set the random seed on two machines and each shows the same results as the previous run. So there is still difference between the two machines.

[2021-04-30 15:36] EdwardDanu opened #436 "Deployment error id django on heroku, i dont seem to find solution. i am stuck"
remote:        Collecting toml==0.10.1
remote:          Downloading toml-0.10.1-py2.py3-none-any.whl (19 kB)
remote:        Collecting touch==0.0.0
remote:          Downloading touch-0.0.0.tar.gz (4.5 kB)
remote:            ERROR: Command errored out with exit status 1:
remote:             command: /app/.heroku/python/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-ins

[2021-05-01 16:29] michalk8 opened #437 "Setting figure params launches IPython kernel"
Setting figure parameters launches IPython kernel when using normal Python interpreter.
Culprit line: https://github.com/theislab/scvelo/blob/master/scvelo/settings.py#L300
Possible solution: setting `ipython_format=None`, which will raise an exception, which is then caught.

[code]

<details>
<summary> Error </summary>

![2021-05-01T18:27:20+02:00](https://user-images.githubusercontent.com/467175

[2021-05-03 17:19] jinyoung5484 opened #438 "Gene expression is not shown on scatter plot"
Hello, I am working on a single cell RNA seq data for neutrophil where I previously explored that certain genes are expressed on clusters through Seurat. When I converted this data to loom file and ran scVelo, Genes that were expressed on Seurat are not expressed on scVelo. Does anyone know why this happens?

I tried with this function to see expression of a gene. --> scv.pl.velocity(adata, gene,

[2021-05-05 12:59] kanefos commented on #378
I'm not an author but this is a pretty large request lol. Can't you just use [SeuratDisk](https://github.com/mojaveazure/seurat-disk) or [zellkonverter](https://bioconductor.org/packages/release/bioc/html/zellkonverter.html)

[2021-05-05 22:13] gokceneraslan opened #439 "scv.pl.heatmap changes fontscale"
Right now scvelo heatmap function changes the seaboard font_scale permanently via `sns.set(font_scale=font_scale)` (https://github.com/theislab/scvelo/blob/master/scvelo/plotting/heatmap.py#L122), which is not cool because subsequent plots are affected. It'd be great to use `with plotting_context("paper", font_scale=xyz):` instead, which makes this change only temporarily.

[2021-05-07 03:51] gokceneraslan commented on #279
Is there an upstream (i.e. mpl) bug for this?

[2021-05-07 22:39] danielee0707 opened #442 "Velocity for one gene gives shape mismatch"
When I run recover_dynamics with only one gene (specified with var_names argument), followed by tl.velocity calculation, the returned velocity vector, which supposed to be one dimension vector for only a gene, was returned as a sqaure matrix. This causes a shape mismatch.
The code of trouble is Line 372 of velocity.py
[code]
Traced back to Line 344 of velocity.py
[code]
Possible cause: In dynamica

[2021-05-08 09:48] WeilerP commented on #438
@jinyoung5484, is it possible for you to share the plot you are generating using `scv.pl.velocity` and the one you were expecting?

[2021-05-08 09:54] WeilerP opened #443 "typing_extensions not installed in Python 3.8"
The issue was first reported [here](https://github.com/theislab/scanpy/issues/1799#issuecomment-830137752):

[2021-05-08 10:00] WeilerP commented on #436
@EdwardDanu could you please rephrase the issue title to something more descriptive and outline what you are trying to achieve?

[2021-05-08 10:05] WeilerP commented on #419
@honghh2018, is the gene already duplicated in `top_genes` or only in the plot?

[2021-05-08 10:13] VolkerBergen commented on #443
Sure, let's declare it as dependency. Same for `anndata`?

[2021-05-08 10:18] VolkerBergen commented on #437
Thanks @michalk8. Important point! The solution in scanpy ([check if running in ipython](https://github.com/theislab/scanpy/blob/525f08f64ded1cda165f376d18721d5200108e10/scanpy/_settings.py#L471)) seems elegant, but doesn't work for me. Any idea how to resolve this internally without the explicit `ipython_format=None` workaround, @WeilerP?

[2021-05-08 13:17] VolkerBergen commented on #433
hi @smgroves, that is available through `scv.tl.velocity_confidence_transition`. (correlation of displacement from expected transition with actual velocity).

[2021-05-08 13:23] VolkerBergen commented on #432
Works now. If you install from source `pip install git+https://github.com/theislab/scvelo`, it should be available.

[2021-05-08 13:30] #421 closed

[2021-05-08 13:31] #416 closed

[2021-05-08 14:46] VolkerBergen commented on #418
You can now also directly pass a filepath.

[2021-05-08 14:46] #418 closed

[2021-05-08 15:05] VolkerBergen commented on #443
Can you check scanpy's definition of [Literal](https://github.com/theislab/scanpy/blob/525f08f64ded1cda165f376d18721d5200108e10/scanpy/_compat.py#L3)? Perhaps, we don't need to specify it as requirement then.

[2021-05-08 15:46] #437 closed

[2021-05-08 15:55] #357 closed

[2021-05-08 16:16] yjgeno opened #444 "Colorbar of the learned dynamics"
Hi, thanks for your package. I was generating the learned dynamics graph of certain genes like this

![image](https://user-images.githubusercontent.com/77600778/117546305-66b34000-afef-11eb-8911-52fb6c37f8ff.png)

I was wondering
1. the learned curve could be turned off?
2. Once I set color='velocity', which is a gene-long vector for each cell, what does the colorbar value stand for? Is the L1 or

[2021-05-08 20:30] VolkerBergen commented on #444
1. You can turn it off with `vkey='none'`.
2. It's showing the velocity values for this particular gene that is shown here.

[2021-05-08 21:52] yjgeno commented on #444
@VolkerBergen Thanks!
Concerning my question 2, if the values assigned to each point are the velocity w.r.t a certain gene, I realized in my example there were points below the steady-state were coated with red instead of blue.
I believe they are expected to be blue as their velocities should be negative.

Please let me know if I made anything wrong

[2021-05-09 02:03] gokceneraslan commented on #439
Thanks!

[2021-05-09 16:08] jinyoung5484 commented on #438
I attached MPO expression from seurat and scVelo at the bottom.

![MPO_expression_seurat](https://user-images.githubusercontent.com/63210104/117579044-2e7b3280-b0bf-11eb-9f55-17b1d55149d3.png)
[scvelo_MPO_expression_scVelo.pdf](https://github.com/theislab/scvelo/files/6447950/scvelo_MPO_expression_scVelo.pdf)

[2021-05-10 05:05] WeilerP commented on #438
Okay, I see what you mean.
1. Just to make sure the problem is not related to the `loom` conversion: Did you check that the gene is expressed after importing the data and prior to running any preprocessing or analysis steps?
2. Could you please provide a code snippet of the steps you apply so that have a clear picture of what your pipeline looks like?
3. The plot created in R shows the UMAP embedd

[2021-05-10 16:02] jbliton opened #445 "heatmap doesn't sort custom ytick labels properly"
Hi, when I'm trying to add specific annotations for the yticklabels for a large gene list (~2100 genes) I'm not able to specify the labels in the way that I expected. When I add specific genes that I want to highlight in the graph, it pulls them out to the top of the list, rather than highlight where they are in the existing list.

[code]

</details>

![image](https://user-images.githubusercontent

[2021-05-10 22:09] therealgenna commented on #432
Thanks very much!

[2021-05-10 22:09] #432 closed

[2021-05-13 20:56] mehrankr commented on #305
Same issue here

[2021-05-14 16:09] ThomasCarroll commented on #378
Or velociraptor
https://bioconductor.org/packages/release/bioc/html/velociraptor.html

[2021-05-14 17:09] akhst7 commented on #378
Velocyto.R and velociraptor are basically a wrapper for Velocyto.py, and it should not take a lot of effort to write a scvelro wrapper for R.  Also, SeuratDIsk is not prime time yet.  It misses a key conversion of Seurat obj to anndata (e.g. assay to layer conversion).    What has worked for me is to use two R packages, Sceasy and Anndata to convert Seurat obj  to  ann  and manipulate ann in R env

[2021-05-14 17:09] #378 closed

[2021-05-18 08:37] haozhaozhe commented on #305
I had a very awkward work around it....

Since still people need it, I will share mine and hopefully intriguing other people's better solutions!

I simply dig into the scv package and took out the scv.pl.heatmap function and write it out like this 🙂

adata = ad_wk.copy()
var_names=top_genes
sortby ='latent_time'
col_color = 'subclass'
colorbar = True

layer='Ms'
color_map='viridis'
#col_color=None

[2021-05-18 08:42] WeilerP commented on #436
I'll close this for now. Happy to reopen once you provided some additional info @EdwardDanu.

[2021-05-18 08:42] #436 closed

[2021-05-18 09:12] #443 closed

[2021-05-18 09:14] #433 closed

[2021-05-19 14:53] Jeff87075 opened #448 "adata vs ldata"
Hi, apologies for such a basic question but I'm pretty confused about the input files required for running the ```scvelo``` analysis workflow. I am familiar with Seurat but am new to python and the ultimate objective is to run the RNA velocity analysis but with the UMAP embedding and clustering I've processed in the Seurat object.

I've been trying to go through the tutorial and know that both the

[2021-05-20 02:24] daydream-boost opened #449 "have error when running scv.pp.moments(sample_one)"
have error when running scv.pp.moments(sample_one)

#### Code
[code]

#### Error:

[code]

#### Versions:

[code]

[2021-05-20 06:34] WeilerP commented on #449
Please try downgrading to `numba==0.52.0` or install the developer version of `scvelo` via `pip install git+https://github.com/theislab/scvelo@develop`. See also theislab/scanpy#1756 or #388.

[2021-05-20 06:34] #449 closed

[2021-05-20 12:50] WeilerP opened #450 "Improve instructions for developer installation"
## Description

Both the instructions for the latest version and developers need to be updated and improved. For example, the former instructs and installation from `master` which points towards the latest tag.

[2021-05-20 12:59] #450 closed

[2021-05-20 16:36] #448 closed

[2021-05-21 08:28] shexiaolu opened #453 "Error in scv.pp.moments"
Recently , i use the scvelo again , but it has an error in scv.pp.moments that didn't happen before.Code is below

[code]
TypeError                                 Traceback (most recent call last)
TypeError: expected dtype object, got 'numpy.dtype[float64]'

The above exception was the direct cause of the following exception:

SystemError                               Traceback (most recent call

[2021-05-21 09:21] WeilerP commented on #453
This is an issue caused by `scanpy`. Please open an issue there for help and some potential insight.

[2021-05-21 09:21] #453 closed

[2021-05-21 13:36] WeilerP opened #454 "Images not shown in dev docs"
## Description

On `scvelo@develop`, (some) images added in the docstrings are not shown. This is the case if `.. image::` and the path to the image are not on the same line. This bug was introduced by changes in #360.

[2021-05-24 07:17] shexiaolu commented on #313
+1. I have the same issue!!! And i don't know why?

[2021-05-24 14:19] shexiaolu opened #456 "The direction of PAGA graph is inconsistent with the stream plot"
Hi! Thanks for your tool! I want to ask why there is different direction between PAGA graph and stream plot?It is really confused me
![stream plot](https://user-images.githubusercontent.com/61653247/119360979-c0995280-bcdd-11eb-95d6-4c9ee0c8aed1.png)
![PAGA](https://user-images.githubusercontent.com/61653247/119361077-d73fa980-bcdd-11eb-8891-89eefaba8c63.png)
Btw, how to remove the dashed line in

[2021-05-25 10:07] zzy990802 opened #457 "scv.utils.merge lead to 'NoneType' object has no attribute 'group'"
Dear Prof,

I encounted a bug when I trying to run velocity using the scvlo after I analyzed my data using the scanpy package as follows.

I have tried several ways to solve this issue, but failed.

<div class="slides" style="box-sizing: unset; position: absolute; width: 960px; height: 700px; inset: 0px; margin: auto; pointer-events: none; overflow: visible; z-index: 1; text-align: left; perspecti

[2021-05-25 11:32] #454 closed

[2021-05-25 12:19] WeilerP commented on #222
@oswaldbra12, sorry for the super late reply. The likelihood is calculated on all observations used to infer dynamics. In your case, this seems to be all clusters.

If you are interested in scoring genes based on likelihood in a subset of the data you can either

1. fit the model on all clusters and recalculate likelihoods with observations from cluster one and two
2. fit a dynamical model on only

[2021-05-25 12:19] #222 closed

[2021-05-25 12:31] WeilerP commented on #457
@zzy990802 could you please provide only the relevant information using embedded in tripple ```? Extracting this in your current description it rather tedious. Please use `scv.logging.print_versions()` for specifying used package versions.

[2021-05-25 12:31] #105 closed

[2021-05-25 12:45] WeilerP commented on #194
@vickyrev, your phase portraits are really noisy s.t. the fitted kinetic is not very informative. In general, it seems that RNA velocity fails when applied to blood datasets. This will also be addressed in a soon to be published review by @VolkerBergen.

[2021-05-25 12:45] #194 closed

[2021-05-25 13:07] #164 closed

[2021-05-25 13:10] WeilerP commented on #208
Closing this as it seems a CellRank related issue.

[2021-05-25 13:10] #208 closed

[2021-05-25 13:23] WeilerP commented on #230
Shared counts are defined as the sum of spliced and unspliced counts provided that both modalities are positive. See [here](https://github.com/theislab/scvelo/blob/f740f28e554ef91447c9a53447eb01096e3bb4c4/scvelo/preprocessing/utils.py#L234) for the respective part of the code.

[2021-05-25 13:23] #230 closed

[2021-05-25 13:25] #223 closed

[2021-05-25 13:29] WeilerP commented on #227
@rfarouni, sorry for the late reply.

Yes, `spliced` and `unspliced` need to be exponentiated. Otherwise, you would have to transform the ODE.

The median is just one possible target.

[2021-05-25 13:29] #227 closed

[2021-05-25 14:07] WeilerP commented on #216
100 seems a bit low but the number of genes needed depends on the dataset, in general. As outlined in this [supplementary material](https://static-content.springer.com/esm/art%3A10.1038%2Fs41587-020-0591-3/MediaObjects/41587_2020_591_MOESM1_ESM.pdf), you can see that already 30 genes explain a large portion of the dynamics in the dentate gyrus dataset.

Based on the phase portraits of the genes wi

[2021-05-25 14:07] #216 closed

[2021-05-25 14:15] WeilerP commented on #210
Yes, that is correct.

@amunzur, you should filter genes prior to velocity analysis, i.e. use

[code]

Doing so, top likelihood genes should always include unspliced/spliced counts.

`scv.pp.filter_and_normalize` combines the typical preprocessing steps in a single function. In general, this matches a concatenation of functions from `scanpy` up to some nuances.

[2021-05-25 14:15] #210 closed

[2021-05-25 14:19] WeilerP commented on #231
Yes, that is correct.

[2021-05-25 14:19] #231 closed

[2021-05-25 14:23] WeilerP commented on #173
@ogilliam

It seems rather low. This should result in a lot of genes being filtered out (based on shared counts). You would have to look at your phase portraits to see if enough information is given to infer dynamics.

I did not read the paper but yes, preprocessing does matter!

[2021-05-25 14:23] #173 closed

[2021-05-25 14:30] #315 closed

[2021-05-25 14:34] #371 closed

[2021-05-25 14:37] #397 closed

[2021-05-25 14:58] #159 closed

[2021-05-25 15:15] WeilerP commented on #426
@VolkerBergen, has this been fixed [here](https://github.com/theislab/scvelo/commit/f740f28e554ef91447c9a53447eb01096e3bb4c4)?

[2021-05-25 15:19] #121 closed

[2021-05-25 15:19] #320 closed

[2021-05-25 15:29] WeilerP commented on #245
No, this is not possible. For a possible reason see e.g. #216 and #459.

[2021-05-25 15:29] #245 closed

[2021-05-25 15:31] #323 closed

[2021-05-25 15:46] WeilerP commented on #235
@akramdi, yes, `scv.utils.merge` performs an inner merge, i.e. only features contained in both AnnData objects are kept.

[code]

You should check that
1. the genes are present in both AnnData objects
2. the genes are not being filtered out by `scv.pp.filter_and_normalize`. In `scvelo>=0.2.2` you can use the keyword argument `retain_genes` to exclude specific genes from being filtered out.

[2021-05-25 15:46] #235 closed

[2021-05-26 01:14] zzy990802 commented on #457
scvelo              0.2.3

[2021-05-26 01:15] zzy990802 commented on #457
scv.logging.print_versions()
scvelo==0.2.3  scanpy==1.7.2  anndata==0.7.6  loompy==3.0.6  numpy==1.20.1  scipy==1.6.2  matplotlib==3.3.4  sklearn==0.24.2  pandas==1.1.4
Numba: Attempted to fork from a non-main thread, the TBB library may be in an invalid state in the child process.

[2021-05-26 02:56] zzy990802 commented on #457
I have find the bud, and solved it.
Thank you very much!
The problem is the difference of the obs.names. It is OK after I reset the name.

[2021-05-26 04:58] #457 closed

[2021-05-26 16:13] vim15 commented on #162
Has there been an update on this?
I still can't find anywhere the solution of how to specify a cluster as root (if this is possible).

Thanks.

[2021-05-26 16:19] #267 closed

[2021-05-26 16:22] WeilerP commented on #162
@ccruizm, @vim15 this is still not possible. In general, the problem of inverted velocities is usually caused by the data being intrinsically too noisy or phase portraits being linear. Specifying start/end cell types would only help in the latter case. See also #216 or #267.

[2021-05-26 16:29] vim15 commented on #162
Thanks @WeilerP,

I've looked at both of those threads you've mentioned, thank you. My phase portraits are quite almond shaped for a number of genes - it's just that I'm getting a velocity that makes no sense.
Would you be able to give an illustrative example how one could go about setting a specific cluster (e.g '0') as a root? As they are stored here  :

`ddata.obs['seurat_clusters']`

returns t

[2021-05-26 17:12] WeilerP commented on #162
There is no quick fix for this. You can check #144 where adding a root prior was attempted. However, the codes base has evolved significantly since then and the PR has not been debugged.

If you find some "nice" phase portraits concerning the shape, you should also check if the temporal ordering is consistent with known biology. If not, the problem lies somewhere else entirely and specifying root

[2021-05-27 12:46] vim15 opened #464 "Re-arranging clusters (labels) - question"
I'm sorry if this is better asked somewhere else (like biostars), but thought you would be the ideal people to raise it to.

Is there a straightforward way of re-arranging the clusters in the object (i.e the ordering on the key). I've assigned names to my clusters, but on the key they come out as "A, C, D, B". I've tried re-arranging them using the below code :

[code]

the above re-orders the lab

[2021-05-27 12:50] dawe commented on #464
Take a look at the [official pandas docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html#reordering) about reordering. Something like

[code]

should work

[2021-05-27 12:56] vim15 commented on #464
@dawe this has worked like a charm. Thank you, it is very much appreciated :)

[2021-05-27 12:56] #464 closed

[2021-05-28 11:59] WeilerP commented on #445
@jbliton, can you try passing the index of the genes for `yticklabels`? As I understand Seaborn's docs for `seaborn.heatmap` [here](https://seaborn.pydata.org/generated/seaborn.heatmap.html#seaborn.heatmap), this should give you the desired result.

[2021-05-28 12:53] WeilerP commented on #444
@yjgeno, sorry for the late reply: It i

It is neither. Setting `color='velocity'` colours observations by their velocity in the gene for which the phase portrait is plotted. The extracted velocities are an array of length `n_obs`.

[2021-05-28 12:53] #444 closed

[2021-05-28 13:10] WeilerP commented on #442
@danielee0707, thanks for catching this! The bug can be reproduced on the [pancreas dataset](https://github.com/theislab/scvelo/blob/f740f28e554ef91447c9a53447eb01096e3bb4c4/scvelo/datasets.py#L107) using

[code]

which throws the `ValueError`

[code]

[2021-05-28 13:10] WeilerP commented on #456
@VolkerBergen any idea what's causing this and how to potentially fix it?

[2021-05-28 13:12] WeilerP commented on #438
@jinyoung5484, any update on this? I am closing this for now. Feel free to reopen the issue if it has not been resolved.

[2021-05-28 13:12] #438 closed

[2021-05-28 13:19] WeilerP commented on #425
@semir2, sorry for the late reply. Did you manage to fix the problem? If so, what was the cause? If not, could you provide reproducible example? Otherwise, with the limited information given, I'm not sure I can help investigating the issue.

[2021-05-28 13:20] WeilerP commented on #419
@honghh2018, any update on this? I'm closing this issue for now. Happy to reopen.

[2021-05-28 13:20] #419 closed

[2021-05-28 14:18] yjgeno commented on #444
Hi, @WeilerP Thank you! It makes sense but I was wondering why my points below the steady-state were not colored in blue?
The residuals of those used as velocities were low and negative I believe.

[2021-05-28 15:08] VolkerBergen commented on #456
That's strange indeed. Could be caused by very low signal, yet a complete direction reversal is bit suspicious.

Could you run a couple cell transition from some of the presumed root cells, as shown in ln 20 [here](https://scvelo.readthedocs.io/VelocityBasics/)?

[2021-05-29 03:48] zhanglab2008 commented on #163
@wangjiawen2013  I totally agree. The data integration tools seem to overcorrect the batch effects. I have tried applying mnn, cca, liger on my dataset, it works very well to correct the batch effect but the biological variance is also being corrected. For example, cells from healthy and disease samples are totally overlaid, which makes it impossible to do velocity prediction or pseudo time trajec

[2021-05-29 13:57] WeilerP commented on #348
@mal7, @yxiaobme could you please provide code snippets leading to the problem as well as figures visualising it?

[2021-05-29 13:58] #317 closed

[2021-05-30 06:28] WeilerP commented on #409
Did you receive a warning when running `scv.tl.velocity_pseudotime(adata, groupby = "lineage")` (This requires `scv.settings.verbosity = 1`)? Could you please share the logs of `scv.tl.velocity_pseudotime(adata, groupby = "lineage")` when using `scv.settings.verbosity = 3`?

[2021-05-30 06:34] WeilerP commented on #410
@govekk, could you please specify (e.g. a link) which part of the code you believe the problem is? Thanks!

[2021-05-30 06:37] #395 closed

[2021-05-30 06:40] #363 closed

[2021-05-30 06:52] WeilerP commented on #314
This will merge individual analyses into a single object. I do not believe that this is what you want to do as you will not consider any "across-file information" in your velocity analysis. Suppose e.g. each file contains the count matrices of a single patient. This pipeline will then run the velocity for each patient individually. A couple of red flags: You will not have a neighbor graph for your

[2021-05-30 06:53] #324 closed

[2021-05-30 07:04] #237 closed

[2021-05-30 07:14] WeilerP commented on #233
Almost. We also require that both unspliced and spliced count are non-zero at the same time.

[2021-05-30 07:14] #233 closed

[2021-05-30 07:16] WeilerP commented on #232
Yes, latent time and velocity should be consistent. Not sure what's going wrong in your first example.

[2021-05-30 07:16] #232 closed

[2021-05-30 07:33] WeilerP commented on #240
Should be the correlation between counts per gene and the number of non-negative counts per observation. See [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/preprocessing/utils.py#L681) and [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/preprocessing/utils.py#L541).

[2021-05-30 07:33] #240 closed

[2021-05-30 07:35] #239 closed

[2021-05-30 07:38] #198 closed

[2021-05-30 07:43] WeilerP commented on #112
@jranek, your phase portraits do not include any curvature s.t. the model cannot be fitted confidently. See e.g. #462 or #216.

[2021-05-30 07:46] WeilerP commented on #112
@MagpiePKU, @yunkaizhang, @WT215 #456 was recently opened. Let's discuss the issue there since it is not related to the original issuer here.

[2021-05-30 07:46] #112 closed

[2021-05-30 07:46] #234 closed

[2021-05-30 07:55] #314 closed

[2021-05-30 08:00] WeilerP commented on #310
Seems like [this](https://stackoverflow.com/a/51813562) and ultimately [this](https://stackoverflow.com/questions/35042255/how-to-plot-multiple-seaborn-jointplot-in-subplot/47664533#47664533) should help. From skimming through it, the solution isn't straight forward and a bit tricky.

[2021-05-30 08:00] #310 closed

[2021-05-30 08:03] WeilerP commented on #309
Sorry, not sure what the question is exactly. You can prevent `scvelo` from filtering out specific genes by specifying them via the argument `retain_genes`. Seems like Seurat v3 and scvelo (with your current settings) use different filter masks. Not sure where the difference is, though.

[2021-05-30 08:03] #309 closed

[2021-05-30 08:07] #302 closed

[2021-05-30 08:10] WeilerP commented on #313
Closed as duplicate of #456.

[2021-05-30 08:10] #313 closed

[2021-05-30 08:13] #308 closed

[2021-05-30 08:20] #321 closed

[2021-05-30 12:49] WeilerP commented on #316
I'm moving this to discussions as it is an issue related to the code base.

[2021-05-30 12:49] #316 closed

[2021-05-30 13:30] WeilerP commented on #303
@Marcus-NEXUS, sorry for getting to this only now. Could you possibly provide a code snippet of the relevant code you are running as well as figures of genes where the entry in `adata.var.loc[GENE_NAME, "velocity_gene']` is `False` but `fit_likelihood` exists?
By default, only `velocity_genes` are fitted. You can, however, manually specify variables for which to fit a model.

If `"velocity_gene"`

[2021-05-30 13:31] WeilerP commented on #300
@YubinXie, I am closing this issue. Feel free to reopen it should you have further questions.

[2021-05-30 13:31] #300 closed

[2021-05-30 13:33] #295 closed

[2021-05-30 13:38] #283 closed

[2021-05-30 13:39] #280 closed

[2021-05-30 13:40] #277 closed

[2021-05-30 13:43] #291 closed

[2021-05-30 13:43] #285 closed

[2021-05-30 13:46] WeilerP commented on #264
I am closing this since substantial time has passed since the last exchange. @Ngort, happy to reopen should you still encounter the problem.

[2021-05-30 13:46] #264 closed

[2021-05-30 13:47] #284 closed

[2021-05-30 13:53] WeilerP commented on #257
@noorisotoudeh, there is no definite/quantifiable criterion to say which identified set of root/terminal states is correct without any prior biological insight. In #462, for example, the true direction is known but scVelo cannot infer it due to the data. In this case, identified root/terminal states would be switched compared to the ground truth.

[2021-05-30 13:53] #257 closed

[2021-05-30 13:55] WeilerP commented on #256
@mvinyard, any update on this?
@coolmak32, @Alexei-Lipov could you please provide a code snippet used which caused the problem?

[2021-05-30 13:56] #253 closed

[2021-05-30 13:58] #261 closed

[2021-05-30 14:01] #255 closed

[2021-05-30 14:07] WeilerP commented on #243
@Marius1311, sorry for picking this up only now. Is this still an open problem? If so, is the error thrown using the latest version of `scvelo` and `scanpy`? If you managed to solve it, would you mind elaborating on what caused the error?

[2021-05-30 18:41] WeilerP commented on #248
@houruiyan, you are comparing two different things here: In both steady state and stochastic model, the estimated splicing degradation rate `gamma` is measured in terms of the splicing rate `beta`. For the dynamical system we infer both `beta` and `gamma`. Comparing the fitted values as you do on the pancreas data, for example, you will see that the correlation is not significant. I'd say the corr

[2021-05-30 18:41] #248 closed

[2021-05-30 18:43] #241 closed

[2021-05-30 18:57] WeilerP commented on #311
@danielee0707, the `scv.pp.neighbors` is (or should be) called immediately prior to `scv.pp.moments`. As such, their shouldn't be any problems IMO.

[2021-05-30 18:57] #311 closed

[2021-05-30 19:02] #376 closed

[2021-05-30 19:11] #304 closed

[2021-05-30 19:22] WeilerP commented on #304
Could not replicate the issue. Worked fine for me using `matplotlib>=3.3.2`.

[2021-05-31 07:46] Marius1311 commented on #243
let me check whether this still persists

[2021-05-31 09:29] Marius1311 commented on #243
I can confirm that this has been solved in scVelo `0.2.3`! Thank's for taking this up again, good initiatieve to close these old issues!

[2021-05-31 09:29] #243 closed

[2021-05-31 13:09] WeilerP opened #480 "Unpin upper bound on numba"
## Description

As of `umap==0.5.1`, `numba==0.53` is supported. ATM, we still restrict `numba<=0.53` [here](https://github.com/theislab/scvelo/blob/f740f28e554ef91447c9a53447eb01096e3bb4c4/requirements.txt#L14).

[2021-05-31 13:17] #480 closed

[2021-06-01 16:33] eynullazada opened #482 "extracting spliced/unspliced matrix from annData object"
Hi

I am running scvelo on my single cell RNA-seq data. I need to get the spliced and unspliced sparse matrix. I see it is saved as layers in and data object. When I export whole Anndata objcet to csv file ( adata.write_csvs('adata')), layers do not get extracted.  I tried to specifically extract spliced and unspliced matrxes unsing  other way like following, however it extracts the unreadable fil

[2021-06-02 05:21] #482 closed

[2021-06-03 15:29] sunshine1126 opened #484 "The difference between ”clusters_coarse“ and ”clusters“ from adata.obs"
@VolkerBergen, hello! Thanks for your tool! I want to ask about the difference between ”clusters_coarse“ and ”clusters“ from adata.obs? It is really confused me.
![image](https://user-images.githubusercontent.com/32659317/120670246-d0c1e680-c4c2-11eb-9af8-09c2074967ce.png)
In addition, when the two clusters are not the same (see The blue frame shown above), does this mean that the cells move from

[2021-06-03 15:33] #484 closed

[2021-06-04 10:34] rorymaizels opened #486 "Make streamline arrow size adjustable"
I am preparing a velocity streamline plot for publication, but the default arrow size in scv.pl.velocity_embedding_stream are too small to be seen properly within the figure. Adjusting `linewidth` leads to wider lines but doesn't affect the arrow head (example picture below). Currently we are looking at having to manually draw illustrative arrows over the plot, which somewhat defeats the point of

[2021-06-04 14:55] pabloatria18 opened #487 "Problem with arrow direction [Question]"
Hello. I am sorry I know there are some other issues open that are similar to mine but I have not been able to fix this. I am totally new to RNA velocity, this being my first analyzed dataset.
I have a dataset from bone, where the most differentiated group of cells (Cluster 6) and the intermediate state (Cluster 2) is pointing towards the progenitors (Cluster 0-1-3).
I followed the directions that

[2021-06-04 21:23] govekk commented on #410
The groups parameter is used to create an _adata subset of adata: https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/paga.py#L283-L287  but neither groups nor _adata are used later in the paga() function (as far as I can tell). In velocity_embedding.py, the _adata object is used to create the arrow coordinates: https://github.com/theislab/scvelo/blob/1

[2021-06-06 19:36] WeilerP commented on #486
@rorymaizels, will add the possibility to specify custom arguments to be passed to `matplotlib.pyplot.streamplot`.

Instead of drawing the arrows, manually, you can clone `scvelo`, open a new branch (either based on a tag or `scvelo@develop`) and update `scvelo.plotting.velocity_embedding_stream.py:velocity_embedding_stream` to your needs.

As a general note: Please only tag issues with the `bug`

[2021-06-06 19:40] WeilerP commented on #487
@pabloatria18, please see #416 or #216. Happy to have a discussion there if something is still unclear.

[2021-06-06 19:40] #487 closed

[2021-06-07 07:51] WeilerP opened #488 "Flipped colormaps"
## Description

Running

[code]

sometimes uses an inverted colormap. By default, the colormap should be `viridis`, i.e. go from purple (low) to yellow (high). ATM, individual figures in one and the same Jupyter notebook, for example, are colored differently.

The problem can be circumvented by specificying the `color_map` argument, i.e.

[code]

#### Versions:

[2021-06-07 08:50] VolkerBergen commented on #488
Can you provide an example? The default is `viridis_r` as specified [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/utils.py#L340).

[2021-06-07 09:35] WeilerP commented on #488
Sorry, cannot provide reproducible code example ATM since I haven't figured out what's causing the problem. And yes, in theory, the color map should be fixed. As outlined above, running `scv.pl.plotting(adata)` in different parts of a Jupyter notebook (potentially using different adata objects), sometimes, low values are colored purple, other times yellow.

[2021-06-07 12:22] WeilerP opened #489 "Docs not reachable"
## Description

@VolkerBergen, the docs seem to be down. Could you please take a look?

[2021-06-07 12:27] pabloatria18 commented on #487
Thank you @WeilerP, Sorry for duplicating the issue!
I saw both issues you mentioned, and I noticed not all of my genes have the almond/football shape as mentioned.
I have 379 velocity genes and I was wondering if there is a way of selecting some of them and evaluate if the direction changes?
What would you recommend me to do in this case?
I really appreciate your time and advice!

[2021-06-07 12:31] VolkerBergen commented on #489
Was trying to setup en/latest and en/stable, while keeping the current direct paths. Docs are back now.

[2021-06-07 12:31] #489 closed

[2021-06-07 12:33] WeilerP commented on #487
@pabloatria18, can we please move the discussion to #462 to have the related problems in the same place? Just repost your question there. Thanks!

[2021-06-07 12:35] pabloatria18 commented on #487
Sure! Thank you @WeilerP!

[2021-06-07 12:52] WeilerP opened #490 "Run CI on release branches"
## Description

The CI should run when pushing to or opening a PR into release branches.

[2021-06-07 12:58] #490 closed

[2021-06-07 20:37] FADHLyemen opened #493 "how to add splice/unsplice information to my h5ad object"
Hi,
I want to test scvelo but do not have the splice/unsplice in my object in layer, how to add it to my object?

Thank you

[2021-06-08 05:24] #493 closed

[2021-06-08 13:49] FADHLyemen opened #495 "timescale of months"
I got scRNA-seq from samples treated for one month and other treated for 10 months. can I use scvelo to plot the velocity between cells. what is the max timescale of hours, scvelo can have?

"RNA velocity is a high-dimensional vector that predicts the future state of individual cells on a timescale of hours."
Using the below figure, I am trying to hypothesize that cells at the most left trigger/re

[2021-06-09 05:04] #495 closed

[2021-06-11 16:30] therealgenna opened #497 "`tl.recover_dynamics` calculation on a subset of cells depends on previous velocity calculations"
#### Description of the bug:
Hi,
When I am running `tl.recover_dynamics` on a subset of cells from an obj for which `velocity` in `stochastic` mode has been previously run, the result depends on whether I run `velocity` in `stochastic` mode on this subset, before running `tl.recover_dynamics`.

I'd expect the `tl.recover_dynamics` mode to work the same on a subset irrespective of me running `veloc

[2021-06-11 23:59] therealgenna commented on #497
I looked a bit more and `tl.velocity` (re)calculates `var.velocity_genes`.

According to the documentation, `tl.recover_dynamics` by default uses `var_names='velocity_genes'` for dynamical model fitting, and then `tl.velocity` (in the dynamical mode) will again (re)calculate `var.velocity_genes`.

It looks like somewhat circular, at least with the default behavior: I need to use stochastic mode to

[2021-06-13 12:09] enigmaticsloth commented on #112
Has anyone checked the spliced/unspliced RNA ratio?
I found my sample has only 13% spliced but 87% unspliced RNA.
The percentage of spliced/unspliced RNA seems reversed.
Is this the reason why giving the reversed velocity direction?

![Unknown](https://user-images.githubusercontent.com/63458962/121806627-352f3380-cc83-11eb-87cb-ce95a319d90b.jpeg)

[2021-06-13 12:10] enigmaticsloth commented on #456
Has anyone checked the spliced/unspliced RNA ratio?
I found my sample has only 13% spliced but 87% unspliced RNA.
The percentage of spliced/unspliced RNA seems reversed.
Is this the reason why giving the reversed velocity direction?
![Unknown](https://user-images.githubusercontent.com/63458962/121806664-598b1000-cc83-11eb-9fc5-a0613a014fd0.jpeg)

[2021-06-13 15:53] france-hub opened #498 "Issue with scv.pp.moments (trying to build an R pipeline Seurat --> scvelo)"
Hi thank you for this package!

I am starting using scvelo. However I generally work in R (absolute beginner in Python) and I am trying to write a pipeline to use scvelo in R using reticulate. I am able to create successfully the adata object. the filter_and_normalize function works well but I am stucked at the next step.

The following is my code in R.

Summarizing I have loom files, I convert th

[2021-06-14 05:51] WeilerP commented on #456
@enigmaticsloth, could you please provide the stream plot, PAGA graph and top likelihood genes?

[2021-06-14 05:56] WeilerP commented on #498
@france-hub, could you please share the output of `scv.logging.print_versions()`? I am pretty sure you are using incompatible combination versions of `umap-learn` and `numba`. See e.g. #449.

On a general note: Please stick to the issue template. It makes debugging such issues much easier. Thanks!

[2021-06-14 06:23] WeilerP commented on #497
As already pointed out by you, passing `var_names="velocity_genes"` will trigger a recalculation of these genes using the steady state model. Velocity genes are defined [here](https://github.com/theislab/scvelo/blob/dc1a66a1c619e8d3d6b04d30644bf3f4171e0d72/scvelo/tools/velocity.py#L93). To prevent the recalculation, you need to pass the names of the velocity genes directly. You should be able to e

[2021-06-14 09:38] WeilerP opened #499 "Default line color of inferred dynamics changed"
## Description

[This](https://github.com/theislab/scvelo/commit/f740f28e554ef91447c9a53447eb01096e3bb4c4) commit changes the default line color of the inferred dynamics from purple to black.
@VolkerBergen, was this intended? This is not ideal, IMO, since according to the commit message, the commit only enables `adjustText` for best alignment of legend texts.

[2021-06-14 14:18] france-hub commented on #498
Thank you for your prompt answer. Downgrading numba to 0.52 solved the issue!
Apologize if I didn't follow the template and if I didn't notice there was already a similar solved issue.

[2021-06-14 14:18] #498 closed

[2021-06-14 18:28] therealgenna commented on #497
Thank you for the quick response!

Are you saying that passing `var_names="velocity_genes"` to `tl.recover_dynamics` will trigger the recalculation of velocity genes? I was just saying that running `tl.velocity` (either in stochastic or dynamic, and probably in steady-state mode) calculates them.

It does not look like `tl.recover_dynamics` triggers calculation of velocity genes if I use `var_name

[2021-06-15 06:32] WeilerP commented on #497
Okay, sorry, I missed a step in the code. So let me reiterate what is happening in detail:

Running `scv.tl.recover_dynamics` using default arguments, infers model paramters for what we call *velocity genes*.

## Case 1 - Velocity genes have been computed beforehand

In this case, velocity genes are given via the column `velocity_genes` in `adata.var`. `scv.tl.recover_dynamics` will then infer the

[2021-06-16 08:25] vim15 opened #500 "Difference between top likelyhood-dynamical & velocity genes"
I'm very sorry by the very basic question, but the more I read the info online and the subsequent paper the more I get confused.

Running :
`scv.tl.rank_velocity_genes
`
or

`scv.tl.rank_dynamical_genes`

will give you two very different gene lists per cluster that you have. My question is, what are these gene lists, what do they refer to in a biological context ????

In the tutorial for scVelo it

[2021-06-16 08:29] #500 closed

[2021-06-16 09:31] sidrahmaryam opened #502 "scVelo cell cycle score calculation"
Hello!
Firstly, Thank you so much for this wonderful tool for single cell analysis.
I wanted to address an issue I am facing while implementing the code. I have two datasets. In one of it, the cell cycle score determination was done all correctly, while in the other one it gave an error.
I am mentioning the error below. Kindly suggest the possible reason for the same and any alternative to correct

[2021-06-16 09:37] WeilerP commented on #502
@sidrahmaryam, which versions are you using (output of `scv.logging.print_versions()`)?  Would you please also provide the **full** stack trace so that I can see which part exactly is causing the problem? Thanks!

On a general note: Please stick to the provided issue template as closely as possible. This simplifies and speeds up debugging these sort of issues.

[2021-06-16 09:42] sidrahmaryam commented on #502
Thank you for your response.

![image](https://user-images.githubusercontent.com/58388074/122196659-0bf5e980-ceb5-11eb-9e57-a686efb22de5.png)

The complete error is given as:

calculating cell cycle phase
WARNING: provided gene list has length 0, scores as 0
---------------------------------------------------------------------------
IndexError                                Traceback (most recent

[2021-06-16 09:55] WeilerP commented on #502
Thanks @sidrahmaryam. I presume you are using `scv.tl. score_genes_cell_cycle(adata)`? Could you please provide the output of

[code]

Might be that your AnnData does not contain any G2M phase marker genes as defined [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/tools/score_genes_cell_cycle.py#L15).

[2021-06-16 10:14] sidrahmaryam commented on #502
yes I used `scv.tl.score_genes_cell_cycle(adata)` for the above issue.

For `scv.utils.get_phase_marker_genes(adata)` the output is as:

(array([], dtype=float64),
 array(['Birc5', 'Top2a', 'Cenpf', 'Ckap2', 'Hjurp', 'Cenpa'], dtype='<U5'))

[2021-06-16 11:29] WeilerP commented on #502
Okay, so the warning message is thrown because non of your genes are part of the S phase marker genes as defined [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/tools/score_genes_cell_cycle.py#L8).
Regarding the actual error, you'll have to open an issue in [Scanpy](https://github.com/theislab/scanpy) since the error is originating there when calling

[2021-06-16 11:29] #502 closed

[2021-06-16 20:07] therealgenna commented on #497
Thank you - that basically clarifies the issue. My last comment/explanation is on why I say the "naive" way, point (1) above, is not good in general. That's basically why I opened this whole issue. I say this because the velocity genes defined on the whole object might be bad / irrelevant to the selected subset (DS). However, as a simple user I am not aware that this bad choice (for my subset) of

[2021-06-17 05:09] WeilerP commented on #497
Okay, gotcha. I don't think velocity genes should be recalculated by default TBH. I'll update the docs to clarify what's going on.
I do agree that it should be possible to enforce a recalculation of the velocity genes. Will open a separate issue with a feature request for this.

I see your point but don't think velocity genes should be recalculated by default. A lot of times (maybe most of them),

[2021-06-17 05:09] #497 closed

[2021-06-17 14:09] therealgenna commented on #497
That sounds great, thank you!

[2021-06-18 16:03] huipan1973 opened #504 "scv.pl.paga error, 'matplotlib.cbook' has no attribute 'iterable'"
I run scv.pl.paga and got the following error
AttributeError: module 'matplotlib.cbook' has no attribute 'iterable'

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

scvelo==0.2.3  scanpy==1.7.2  anndata==0.7.6  loompy==2.0.16  numpy==1.20.2  scipy==1.6.3  matplotlib==3.4.1  sklearn==0.24.2  pandas==1.2.4

[2021-06-18 17:52] WeilerP commented on #504
@huipan1973, which version of `networkx` are you using?

[2021-06-18 21:15] huipan1973 commented on #504
It's 2.3

[2021-06-19 05:07] WeilerP commented on #504
Can you try updating to the lastest version (potentially also `matplotlib`)? I believe you need `networkx>=2.4`.

[2021-06-19 16:00] huipan1973 commented on #504
That works. It updated networkx to version 2.5.
Thanks!

[2021-06-19 18:08] #504 closed

[2021-06-23 16:23] jinyoung5484 opened #506 "scv.pl.proportions show equal proportions for clusters"
Hello,

I am trying to figure out the proportions of spliced and unspliced for each cluster, but when I run proportions code on anndata object, the figure shows that spliced and unspliced proportions of all clusters are equal. Are there any suggestions that I can fix or components I need to revisit?

Thank you.

![proportion_error](https://user-images.githubusercontent.com/63210104/123133334-9db5a

[2021-06-23 23:07] kbrulois opened #507 "change arrowhead size on stream plot"
would be great to be able to change the arrowhead size using the velocity_embedding_stream plot function

[2021-06-24 05:21] WeilerP commented on #507
Duplicate of #486.

[2021-06-24 05:21] #507 closed

[2021-06-24 05:24] WeilerP commented on #506
@jinyoung5484, would you please provide the package versions you are using?

On a general: Please do **not** change the GitHub template if not absolutely necessary and provide all required (and applicable) info! This speeds up the debugging of these issues.

[2021-06-24 05:35] WeilerP commented on #506
Just ran the notebook [here](https://scvelo.readthedocs.io/VelocityBasics/) using the latest developer version of `scvelo` and everything worked fine. Does this produce the expected output for you?

[2021-06-25 14:54] jinyoung5484 commented on #506
@WeilerP, I was able to solve this, it is working perfectly fine.

Thank you!

[2021-06-25 20:42] Lobbii opened #508 "scv.pl.scatter cannot generate plot to show transcriptional switches"
scv.pl.scatter cannot generate plot to show transcriptional switches.
I convert seurat object to anndata, and then perform rna velocity (dynamical model) through scVelo. I can generate the heatmap of top likelihood genes.

[code]

<details>

<summary> Error </summary>

[code]

</details>

#### Versions:
scvelo==0.2.3  scanpy==1.7.2  anndata==0.7.5

![download](https://user-images.githubusercontent

[2021-06-26 19:21] WeilerP commented on #506
@jinyoung5484 please open a discussion regarding your question about `scv.pl.velocity`.

[2021-06-26 19:21] #506 closed

[2021-06-26 19:31] WeilerP commented on #508
@Lobbii, seems like `'ILIRN'` is either not in `adata.var_names` or no model has been fitted.

[2021-06-26 19:35] WeilerP opened #510 "Traceback in bug issue template not displayed correctly"
## Description

The python traceback is not displayed correctly as a code snippet (see e.g. below). There needs to be an empty line after `<summary> Error </summary>`.

<details>
<summary> Error </summary>
[code]
</details>

[2021-06-26 19:43] Lobbii commented on #508
I have run the dynamic model, how to perform the fitting ?

I have run the script shown below:

scv.pp.filter_and_normalize(WT_WT, min_shared_counts=20, n_top_genes=2000)
scv.pp.moments(WT_WT, n_pcs=30, n_neighbors=30)
scv.tl.recover_dynamics(WT_WT)
scv.tl.velocity(WT_WT, mode='dynamical')
scv.tl.velocity_graph(WT_WT)
scv.tl.latent_time(WT_WT)
scv.pl.scatter(WT_WT, color='latent_time', color_map='

[2021-06-26 19:46] WeilerP commented on #508
Sorry, not sure I understand your question correctly. How is this related to the issue? `scv.tl.recover_dynamics` fits the models. Please have a look at our [docs](https://scvelo.readthedocs.io/) and the tutorials shown there.

[2021-06-26 19:47] Lobbii opened #511 "Cannot find gene feature for scatter plot after running dynamical model"
I have performed scv.tl.recover_dynamics, and I found the fitting information in anndata.var. But I cannot generate scatter plot showing transactional switches with  scv.pl.scatter(WT_WT, x='latent_time', y='IL1RN', frameon=False)

I can find fitted parameters for splicing dynamics in adata.var. and IL1RN is a dynamical genes shown in heatmap of dynamics genes vs inferred latent time. Besides, I c

[2021-06-26 19:50] Lobbii commented on #508
I followed the tutorial and run the dynamical model and calculate latent time. If I need to perform the fitting,  how to do it? Which function should I use?

Thanks

[2021-06-26 19:52] WeilerP commented on #508
As mentioned [here](https://github.com/theislab/scvelo/issues/508#issuecomment-869052894): `scv.tl.recover_dynamics` is used to fit the model.

[2021-06-26 19:54] Lobbii commented on #508
I have performed scv.tl.recover_dynamics, and I found the fitting information in anndata.var. In this case, how to generate the scatter plot?

AnnData object with n_obs × n_vars = 3129 × 2000
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'percent.mt',  'Cells', 'Update_Cells', 'nCount_spliced', 'nFeature_spliced', 'nCount_unspliced', 'nFeature_unspliced', 'nCount_ambiguous', 'nFeature_ambig

[2021-06-26 19:56] WeilerP commented on #508
Please have a look at [this](https://scvelo.readthedocs.io/DynamicalModeling/) tutorial.

[2021-06-26 20:01] Lobbii commented on #508
I followed the tutorial, and I have run the dynamical model to get top-likelihood genes based on fit_likelihood. Is there any thing should I check?
Thanks

[2021-06-26 20:05] Lobbii commented on #508
Besides, I can generate scatter for dynamics genes to show the learning dynamics (spliced vs unspliced). I have check the tutorial multiple times, and followed the colab jupyter notebook. But I don't know why I cannot generate the scatter plot to show transcriptional switches.

[2021-06-26 20:45] Lobbii commented on #508
Can I know the which var (var_names ) is used for scv.pl.scatter(WT_WT, x='latent_time', y= var_names , frameon=False)?

[2021-06-27 18:15] WeilerP commented on #511
@Lobbii would you please provide the package versions you are using as well as the line of code causing the problem and the corresponding stack trace?

[2021-06-27 18:19] #510 closed

[2021-06-27 19:24] Lobbii commented on #508
@WeilerP
Package version:
`scv.logging.print_versions() `
scvelo==0.2.3  scanpy==1.7.2  anndata==0.7.5  loompy==3.0.6  numpy==1.20.3  scipy==1.6.3  matplotlib==3.4.2  sklearn==0.24.2  pandas==1.2.4

Here is my script
`import scvelo as scv`
`import scanpy as sc`
`import numpy as np`

`scv.logging.print_version()`
`scv.settings.verbosity = 3`
`scv.settings.presenter_view = True`
`scv.settings.set_fi

[2021-06-27 19:26] WeilerP commented on #511
Duplicate of #508.

[2021-06-27 19:26] #511 closed

[2021-06-27 19:52] WeilerP commented on #508
Does the issue persist when you calculate velocities and the velocity graph explicitly, i.e.

[code]

?

[2021-06-27 20:01] WeilerP commented on #508
Just ran your pipeline on the Pancreas dataset used in the tutorials and everything works fine. Do you encounter the same problem there?

[2021-06-28 00:19] Lobbii commented on #508
No, it works well. I can generate stream plot of velocity

[2021-06-28 00:20] Lobbii commented on #508
I didn't encounter the same problem.  I converted my dataset from Seurat Object to Anndata.

[2021-06-28 01:13] jinyoung5484 opened #513 "scvelo.pl.velocity scale of gene expression plot"
Hello,

I have a question about scv.pl.velocity() plotting method.
When I plot certain genes with scv.pl.velocity(), I see gene expression plot on the right side, but scales vary a lot by genes.
How do you guys scaling the gene expression on this plot, or what do you guys use to scale gene expression?

Thank you.

[2021-06-28 05:10] #513 closed

[2021-06-28 06:01] WeilerP commented on #508
So after running the explicit velocity calculation you can plot the gene expression vs. latent time?

Just to confirm:
1. You ran the tutorial notebook in the same environment?
2. Your data is in `cells x genes` form, right?

Would you please check immediately prior to the line causing the problem that
1. `'latent_time' in list(adata.obs.keys()) + list(adata.layers.keys())`
2. `'GPR34' in adata.va

[2021-06-28 13:04] Lobbii commented on #508
I can generate the plot (scatter & heatmap) the gene expression vs. latent time for scv.datasets.pancreas()

I ran the tutorial notebook in the same environment.
My data is in 'cells * genes' form

`AnnData object with n_obs × n_vars = 3129 × 2000` (3129 cells * 2000 highly_variable genes

yes, Both return `True`

It doesn't work as well. If I added layer='spliced' argument, I can generate a scatt

[2021-06-28 13:24] WeilerP commented on #508
Okay, if both return `True`, the correct if clause [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/scatter.py#L392) should be entered since [`is_timeseries`](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/scatter.py#L381) evaluates to `True` and not [this](https://github.com/theislab/scvelo/bl

[2021-06-28 13:30] Lobbii commented on #508
`top_genes[1]`
`GPR34`

`top_genes[1] in adata.var_names`
`True`

`scv.pl.scatter(adata, x='latent_time', y='GPR34', frameon=False)`
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
~/.conda/envs/py_seq/lib/python3.8/site-packages/pandas/core/computation/scope.py in resolve(self, key, is_local)

[2021-06-28 13:41] WeilerP commented on #508
Hm, okay, sorry I have no idea why this is happening then. Would have to debug this in the code base. Unless you can share your h5ad file, you'll have to clone the scvelo repo and debug why [this](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/scatter.py#L381) evaluates to `False`.

[2021-06-28 14:29] Lobbii commented on #508
@WeilerP
I used the example dataset from http://htmlpreview.github.io/?https://github.com/satijalab/seurat-wrappers/blob/master/docs/scvelo.html. I performed seurat pipeline for UMAP and clustering and converted seurat object to Anndata. Then I had the same issue for scatter plot.

[2021-07-01 17:33] 14zac2 opened #515 "Interpretting mitochondrial reads"
Hello!

I recently used scVelo to analyze my scRNA-seq data. One interesting pattern I noticed was that one of my clusters that was downstream of another cluster had very high mitochondrial content (~50% of all reads were encoded by the mitochondria). I filtered out the mitochondrial genes and reran scVelo, finding the same pattern. My current thought is that perhaps the upstream cluster contains

[2021-07-05 05:11] WeilerP commented on #256
Closing this for now. Happy to reopen.

[2021-07-05 05:11] #294 closed

[2021-07-05 05:13] WeilerP commented on #303
Closing for now. Happy to reopen.

[2021-07-05 05:13] #303 closed

[2021-07-05 05:13] WeilerP commented on #348
I'll close this for now. Happy to reopen.

[2021-07-05 05:13] #348 closed

[2021-07-05 05:14] WeilerP commented on #409
Closing this for now. Happy to reopen.

[2021-07-05 05:14] #409 closed

[2021-07-05 05:15] WeilerP commented on #425
Closing this for now. Happy to reopen.

[2021-07-05 05:15] #425 closed

[2021-07-05 05:18] WeilerP opened #517 "Matplotlib deprecation warnings"
## Description

The following deprecation warnings are thrown by `matplotlib`:

[code]

[code]

[code]

[2021-07-05 05:20] WeilerP commented on #517
Closed via #516.

[2021-07-05 05:20] #517 closed

[2021-07-05 06:39] WeilerP commented on #508
@Lobbii, couldn't run the R code out of the box and do not have the time to debug it. Can you provide the h5ad file you are working with?

[2021-07-05 06:48] #515 closed

[2021-07-05 06:51] WeilerP commented on #486
Closed via #492.

[2021-07-05 06:51] #486 closed

[2021-07-07 09:31] nicodemus88 commented on #78
@ajwilk Thanks for sharing. I was wondering if you could guide me on how to prepare a compatible dropEst output file for export to AnnData. I tried but the sizes of the matrices I got were all different, so I could not combine them in an AnnData object.
I posted the issue in dropEst issues but no replies yet. Here it is: https://github.com/kharchenkolab/dropEst/issues/126#issue-937541204

Hope to

[2021-07-08 13:57] johaGL opened #519 "barcodes associated to calculated clusters"
Dear theislab,
Thank you for your great software. I ran scvelo obtaining 14 clusters by Louvain algorithm. I would like to obtain the list of the barcodes and their associated cluster, could you please indicate me how to obtain this?

[2021-07-09 08:11] #519 closed

[2021-07-09 08:24] WeilerP commented on #508
@Lobbii, any update on this?

[2021-07-09 08:25] WeilerP commented on #445
@jbliton, I'll close this for now. Fell free to reopen if my suggestion did not resolve the problem.

[2021-07-09 08:25] #445 closed

[2021-07-09 08:27] WeilerP commented on #162
Closed in favor of #368.

[2021-07-09 08:27] #162 closed

[2021-07-09 15:41] ifanirene opened #523 "Handling of CellID in scv.utils.merge"
Dear scvelo team,

I'm trying to perform add loom files to pre-processed adata that is consisted of three samples (annotated with -1,-2,-3 in cellID). I saw in solved issue (#36) you mentioned that the merge module would first clean up the CellID before merging. If this is the case how would the sample correspondence be retained when merging the data?

Would you recommend the following workflow?
1

[2021-07-09 17:08] #523 closed

[2021-07-09 21:08] Lobbii commented on #508
https://drive.google.com/drive/folders/10DYf7Sc9tqyfElIMXaHKxchRjGvfx-hM?usp=sharing

I followed the tutorial provided by Seurat to generate H5ad file

`library(Seurat)`
`library(SeuratDisk)`
`library(SeuratWrappers)`
`ldat <- ReadVelocity(file = "./SCG71.loom")`
`bm <- as.Seurat(x = ldat)`
`bm[["RNA"]] <- bm[["spliced"]]`
`bm <- SCTransform(bm)`
`bm <- RunPCA(bm)`
`bm <- RunUMAP(bm, dims = 1:20)`

[2021-07-10 20:07] WeilerP commented on #508
@Lobbii, the problem are the variable names in `adata.raw`:

[code]

Everything works with `use_raw=False`, *i.e.*,

[code]

[2021-07-10 20:07] #508 closed

[2021-07-12 13:51] YitengDang opened #525 "Compatilibility with STARsolo"
Hi,

I've successfully used scvelo in the past on 10x data by using a similar pipeline as in the tutorial, i.e. by separately reading the (scanpy pre-processed) 10x data and the loom file generated by velocyto, and then combining them. However, this pipeline relies on the output of velocyto, which unfortunately has not been updated for ~3 years now. I'm currently unable to get velocyto to work, an

[2021-07-12 13:58] WeilerP commented on #525
@YitengDang, theislab/scanpy/issues/1860 should help?

[2021-07-13 14:11] YitengDang commented on #525
Yes, this was exactly what I was looking for, thanks! With the shared code under https://github.com/alexdobin/STAR/issues/774#issuecomment-850477636, together with some manual tweaking, I've been able to run scvelo on STARsolo aligned data.
It would be great to integrate this into scvelo (or scanpy), but that's just an outsider suggestion :).

[2021-07-13 18:18] WeilerP opened #528 "Add EditorConfig file"
## Description

Add EditorConfig file for consistent coding style.

[2021-07-13 18:33] WeilerP commented on #528
Solved by #529.

[2021-07-13 18:33] #528 closed

[2021-07-14 06:15] WeilerP opened #531 "Refactor `clean_obs_names`"
## Description

The function `scvelo/core/_anndata.py::clean_obs_names` can be refactored to a cleaner implementation. For example

* Rename variables to use consistent snake and lower case.
* Use regex expression with `re`.
* Use Pandas functionality to operate on every single observation name.
* The `ValueError` is only thrown if `base=""`.

[2021-07-14 06:45] WeilerP commented on #531
Implemented by #532.

[2021-07-15 06:28] #531 closed

[2021-07-15 11:54] honghh2018 opened #533 "`filter_genes` fails when `adata.layers['unspliced']` is sparse and `adata.layers['spliced']` dense"
Thank the tools.
   I preprocess the splice and unsplice in seurat using standard workflow like below:

[code]
and then
i convert the seurat to h5ad and load it by scv.read("sample.h5ad")
AnnData object with n_obs × n_vars = 42378 × 31053
    obs: 'orig.ident', 'nCount_spliced', 'nFeature_spliced', 'nCount_unspliced', 'nFeature_unspliced', 'nCount_ambiguous', 'nFeature_ambiguous', 'nCount_RNA', 'n

[2021-07-15 12:30] WeilerP commented on #533
@honghh2018, which package versions are you using? Please provide the output of `scv.logging.print_versions()`.

*On a general note:* Please do not provide the GitHub issue template if possible and provide all the requested info. This simplifies and speeds up debugging issues immensely.

[2021-07-16 01:31] honghh2018 commented on #533
Hi @WeilerP ,
      Thank again the reply,
     The scv.logging.print_version() and scv.logging.print_versions() info lying below:
     Running scvelo 0.2.3 (python 3.8.8) on 2021-07-16 09:16.
     scvelo==0.2.3  scanpy==1.7.1  anndata==0.7.5  loompy==3.0.6  numpy==1.20.1  scipy==1.6.1  matplotlib==3.3.4  sklearn==0.24.1  pandas==1.2.2
     The adata.layers['unspliced'].shape and adata.layers['uns

[2021-07-16 05:08] WeilerP commented on #533
@honghh2018, converting `adata.layer['spliced']` to a sparse matrix in CSR format, i.e.

[code]

 should fix the problem.

[2021-07-17 01:46] honghh2018 commented on #533
Great, it work.

[2021-07-17 10:32] WeilerP opened #534 "Move unit tests to `tests/`"
## Description

Unit tests are currently located both in `scvelo` as well as outside in `tests`. To collect tests in a single place, the unit tests from `scvelo/` should be moved to `tests/`. Once the plotting sub-module is unit tested, this will prevent the installation file from becoming unnecessarily large. The same applies should data be added at some point in time.

[2021-07-17 10:40] WeilerP commented on #534
Solve by #535.

[2021-07-17 10:40] #534 closed

[2021-07-19 14:33] wyvern114 opened #536 "OSError [Errno 22] Invalid argument when using scv.tl.recover_dynamics()"
Hello, first thanks for this useful package. and here is my trouble, when I use scv.tl.recover_dynamics( ) in my data, there was a error

[code]

#### Versions:
[code]
Thank you for your help!

[2021-07-19 15:07] WeilerP commented on #536
@wyvern114 are you running this in a script, the console or in a Jupyter notebook? This seems to be a problem with Pycharm not scvelo. After briefly googling this, I found [this](https://youtrack.jetbrains.com/issue/PY-36151?_ga=2.155514488.2114045875.1626707089-101065318.1626707089) issue on jetbrains.

[2021-07-20 05:56] WeilerP commented on #533
Can be reproduce with the following dummy example:

[code]

[2021-07-20 09:57] WeilerP commented on #533
Fixed by #537.

[2021-07-20 09:57] #533 closed

[2021-07-20 15:07] xinyue-jxy commented on #536
Hello,

It seems that I have some issues due to command scv.tl.recover_dynamics(), so I put my question here. Hope it wouldn't bother you so much. And thank you thislab for this very useful tool.

My question is : there is this error appears when I tried to apply the command with subtype cluster with this new dataset `adata=adata[adata.obs['louvain'].isin(['4', '15'])]`, but it was ok when I apply

[2021-07-21 01:30] honghh2018 opened #538 "The result showing paradox between arrow direct of velocyto and latent time direct"
Hi @scvelo,
    The tools provide a multiple perspective to look into the state of development cells .
     In practice, the velocyto_stream showing the opposite condition contrary to the latent time like below picture.
velocyto_stream picture:

![image](https://user-images.githubusercontent.com/41668708/126416207-9c2e3339-0750-4b32-9328-d2eac794e463.png)

     and latent:

![image](https://user-i

[2021-07-21 06:12] WeilerP commented on #536
@Xin-jxy would please open a discussion for this? Would be the appropriate place and it is found easier instead of being hidden in this issue. Thanks!

[2021-07-21 06:13] #538 closed

[2021-07-21 08:53] Xin-jxy opened #540 "Error of scv.tl.recover_dynamics() for sbutype cluster"
Hello, thislab

Thanks for this practical analyse tool!!

I have some issues due to command scv.tl.recover_dynamics() for the subtype cluster.

My question is : there is this error appears when I tried to apply the command with subtype cluster with this new dataset '''adata=adata[adata.obs['louvain'].isin(['4', '15'])]''', but it was ok when I apply it to the whole dataset. For the information, I

[2021-07-21 09:00] #540 closed

[2021-07-21 12:22] honghh2018 opened #542 "The heatmap draw error"
Hi @All,
When the step running on below step, it showing below error:
top_genes = adata.var['highly_variable'].sort_values(ascending=False).index[:300] ###
scv.pl.heatmap(adata, var_names=top_genes, sortby='velocity_pseudotime', col_color='louvain', n_convolve=100)
Error:
AssertionError: Don’t call _normalize_index with non-categorical/string names

scv.__version__
'0.2.3'
How to fix this issue?

[2021-07-21 12:24] WeilerP commented on #542
@honghh2018, could you please provide the full stack trace? Also, please provide the output of `scv.logging.print_versions()`.

[2021-07-21 12:29] honghh2018 commented on #542
Hi,
The detail:
AssertionError                            Traceback (most recent call last)
<ipython-input-175-6624a5be6628> in <module>
      1 top_genes = adata.var['highly_variable'].sort_values(ascending=False).index[:300] ###挑选var中的改变基因
----> 2 scv.pl.heatmap(adata, var_names=top_genes, sortby='velocity_pseudotime', col_color='louvain', n_convolve=100)

~/miniconda3/envs/scvelo/lib/python3.8/

[2021-07-21 12:44] WeilerP commented on #542
@honghh2018, seems like an issue with `anndata`. @ivirshup, any idea what's causing the problem and how to fix it?

[2021-07-21 14:28] WeilerP commented on #536
@wyvern114, #541 might be informative/helpful for you as well.

[2021-07-21 16:09] cadyyuheng commented on #256
Hello @WeilerP, I encountered the same issue with scvelo 0.2.3 when following the RNA Velocity Basic tutorial. I couldn't reproduce the "Estimate RNA velocity" step in the tutorial and here is the error:
`scv.tl.velocity_graph(adata)`
`
WARNING: The neighbor graph has an unexpected format (e.g. computed outside scvelo)
or is corrupted (e.g. due to subsetting). Consider recomputing with `pp.neighbo

[2021-07-22 01:09] #536 closed

[2021-07-22 05:11] WeilerP commented on #256
@cadyyuheng, are you using the pancreas data for this or your own? Also which versions of `umap-learn` and `numba` are you using? I just ran the tutorial in a clean conda environment and did not encounter the problem.
Not sure if this is relevant: There have been some issue caused when using `pandas==1.3.0`.

[2021-07-22 05:30] WeilerP opened #543 "Generalize adata composite strategy for testing"
## Description

The current composite strategy to generate AnnData objects `adata` [here](https://github.com/theislab/scvelo/blob/9e6ed696cb5b7e4ca2c9005bf138e2ae9f3f4fca/tests/core/test_base.py#L16) only generates `adata.X` and entries in `adata.layers` as well as in `adata.obsm`. It should be possible to also generate columns in `adata.obs` as well as `adata.var`.

[2021-07-22 06:06] WeilerP commented on #543
Implemented by #544.

[2021-07-22 06:06] #543 closed

[2021-07-22 06:36] WeilerP opened #545 "Run CI on different OS and python versions"
## Description

Extend the CI to run on ubuntu-lates, macos-latest and uses both Python 3.7 as well as 3.8.

[2021-07-22 06:57] ivirshup commented on #542
I recall seeing this error pop up in the past. I can look at it a bit, but first @honghh2018,  could you update your version of anndata to the latest release and see if the error still occurs?

[2021-07-22 07:57] WeilerP opened #547 "Add unit tests for `cleanup`"
## Description

Add unit tests for `scvelo/core/_anndata.py::cleanup`.

[2021-07-22 08:57] WeilerP commented on #547
Implemented by #548.

[2021-07-22 08:57] #547 closed

[2021-07-22 09:49] AAA-3 commented on #378
Hello!

I am new to bioinformatics but I wanted to know if you used [this vignette](http://htmlpreview.github.io/?https://github.com/satijalab/seurat-wrappers/blob/master/docs/scvelo.html)? How would you know the conversion method loses some data and would this impact heavily on the analysis?

I plan on sing this vignette for RNA velocity analysis and wanted to know if it is compromising my findin

[2021-07-22 11:09] honghh2018 commented on #542
Hi @ivirshup  and all,
     The anndata version that i work for was 0.7.5, i am going to upgrade the anndata and try it again.
 If without a  hitch, It was feedback soon.

[2021-07-22 11:22] honghh2018 commented on #542
Hi guy,
     As you said, it surely was the version of anndata, when i upgrade the anndata(v0.7.5) into 0.7.6, the error was drop,
     and the result showing below:
![image](https://user-images.githubusercontent.com/41668708/126631554-e2f4f907-ecc8-4122-bf76-30a9daf7d445.png)

Thanks again.
Best,

[2021-07-22 12:12] WeilerP opened #549 "TestCleanup unit test"
## Description

For `TestCleanup::test_cleanup_some`, the columns of `adata.var` to keep is defined incorrectly [here](https://github.com/theislab/scvelo/blob/639309d01696d3bd7f6b9911876efcd197cb708a/tests/core/test_anndata.py#L144) . Instead of

https://github.com/theislab/scvelo/blob/639309d01696d3bd7f6b9911876efcd197cb708a/tests/core/test_anndata.py#L144

it should be

[code]

[2021-07-22 12:42] WeilerP commented on #549
Fixed by #550.

[2021-07-22 12:42] #549 closed

[2021-07-22 12:44] WeilerP opened #551 "Refactor `cleanup`"
## Description

`scvelo/core/_anndata.py::cleanup` needs to be refactor to have consistent argument names as well as informative variable names.

[2021-07-22 12:45] #542 closed

[2021-07-22 12:57] WeilerP commented on #551
Implemented by #552.

[2021-07-22 12:57] #551 closed

[2021-07-22 15:27] cadyyuheng commented on #256
I was using the pancreas data. Yes, it's probably because of pandas -- Although I don't quite sure what's the exact incompatible parts, after I downgraded my numpy and upgraded my sklearn, I'm now able to run the tutorial on both pancreas data and my own data. Thanks, @WeilerP! And just for the record, here's my current session info:

Software | Version
-- | --
Python | 3.7.3 64bit [MSC v.1915 64

[2021-07-22 18:39] WeilerP commented on #256
Hm, that's strange. Everything worked for me using the latest package versions. Either way, glad it's working now for you @cadyyuheng.

[2021-07-22 18:39] #256 closed

[2021-07-22 20:47] JenniferWUSTL commented on #506
@jinyoung5484 What steps did you follow to fix the equal proportions in your dataset?

Thanks!

[2021-07-23 12:57] WeilerP opened #553 "Unit test `get_initial_size`"
## Description

Add unit tests for `scvelo/core/_anndata.py::get_initial_size`.

[2021-07-23 13:07] WeilerP commented on #553
Implemented in #554.

[2021-07-23 13:07] #553 closed

[2021-07-23 13:15] WeilerP opened #555 "Unit test `get_size`"
## Description

Add unit tests for `scvelo/core/_anndata.py::get_size`.

[2021-07-23 13:22] WeilerP commented on #555
Added by #556.

[2021-07-23 13:22] #555 closed

[2021-07-23 16:01] jbliton commented on #445
Do you mean the index in the gene list? or the index in the adata object? Or some other index?

I'm trying both and I find the same results, just with numbers instead of the gene symbols

`print(np.where(subset.var_names=='REG1A')[0][0])
print(np.where(subset.var_names=='APOA4')[0][0])

print(gene_list.index('REG1A'))
print(gene_list.index('APOA4'))

kwargs = dict(cbar_pos = (1.0, 0.025, 0.02, 0.9

[2021-07-23 17:55] akhst7 commented on #378
@AAA-3,  Computationally speaking, there is no data corruption.   SeuratDisk at that time did not add `spliced` and `non-spliced` into the var of ann file.  They may have been fixed this issue already in the newer version.

[2021-07-26 10:58] AnnaLaddach commented on #118
Following on from this, I was wondering if any further investigation has been done on the application of scVelo to single nuclei data? Whether it has been applied to "matched" single nuclei and whole-cell datasets?

Thank you!

[2021-07-27 06:08] WeilerP commented on #445
@jbliton, you are only setting the labels for the first two. Does [this](https://stackoverflow.com/questions/47784215/seaborn-heatmap-custom-tick-values) help/give you the desired result?

A dirty hack that also works is passing a list of `None`s except for the position where you want a specific label. For example if you want to label the first and 5th tick but nothing in between:

[code]

This wi

[2021-07-27 07:51] wyvern114 opened #557 "compare with monocle?"
Hi !
Thanks for develop this useful tools, I use my 10x data  to perform RNA velocity analysis with scvelo and also perform trajectory inference using monocle, and I find the result of scvelo and monocle are significantly different, so in order to inference the direction of differentiation and development, which result is more reliable？ scvelo or monocle？

[2021-07-27 07:54] #557 closed

[2021-07-27 10:17] AAA-3 commented on #378
@andrewwbutler is this still the case?

[2021-07-27 13:50] akhst7 commented on #378
@AAA-3,   You can check it out yourself.  Because of  Sceasy and Anndata,  I have a reliable pipeline now that I don't need really SeuratDisk.

[2021-07-28 05:34] WeilerP opened #559 "Update and refactor module import"
## Description

Instead of having files `pl.py`, `pp.py` and `tl.py` which simply import everything from `scvelo.plotting`, `scvelo.preprocessing` and `scvelo.tools`, this can be handled using `sys` in `scvelo/__init__.py`. This is already being done in `scanpy`, for example.

[2021-07-28 07:37] WeilerP commented on #559
Implemented by #560.

[2021-07-28 07:37] #559 closed

[2021-07-29 03:52] honghh2018 opened #563 "The pseudotime direction showing reverse"
Hi @All,
    Like most, The sperm development direction in contrary with common sense. like below picture.
![image](https://user-images.githubusercontent.com/41668708/127428623-d457afe7-2e6f-4829-a63e-a9f463b383b7.png)
![image](https://user-images.githubusercontent.com/41668708/127429399-0c7d39cf-08c7-4b9a-b047-73a148c36ecf.png)

    According  to the previous research the development show be like

[2021-07-29 04:37] WeilerP commented on #563
@honghh2018 with the limited of information given, I cannot offer any advice. Also, this does not seem to be code base related so it's more appropriate to open a discussion for this.
Please have a look at e.g. #216 and #462 and open a discussion.

[2021-07-29 04:37] #563 closed

[2021-07-29 09:23] WeilerP opened #566 "Allow passing `None` for `modality` in `get_modality`"
## Description

Some functions use `None` as default parameter for a modality to use (e.g. `layer` in `scvelo.core._anndata.py::get_size`) which then defaults to using `adata.X`. For a common functionality, it should be possible to also pass `modality=None` in `scvelo.core._anndata.py::get_modality`.

[2021-07-29 11:12] WeilerP commented on #566
Closed by #567.

[2021-07-29 11:12] #566 closed

[2021-07-29 11:14] WeilerP opened #568 "Generalize and refactor `get_size`"
## Description

The function `scvelo.core._anndata.py::get_size` should support general modalities, i.e. also entries from `adata.obsm`. As such, the argument `layer` should be renamed to `modality` and the function adapted to retrieve the correct entry.

[2021-07-29 17:04] mvinyard opened #570 "Numba version installed by default is incompatible with multiple scv.pp functions (scv.pp.moments and scv.pp.neighr"
When running `scv.pp.moments` or `scv.pp.neighbors`, the step that calls umap internally seems to require an older version of numba than what is installed by default when using `pip install scvelo`. I found this while running the [*getting started* tutoria](https://scvelo.readthedocs.io/getting_started/)l on the website using the forebrain dataset.

After moving to a fresh environment running `pip

[2021-07-30 02:46] mmmuhan opened #571 "Counting the number of switches"
Hi,

How can we use scvelo to count the number of switches and plot the figure like Fig.3(e) in the paper?

I saw a similar question at https://github.com/theislab/scvelo/issues/159#issuecomment-591068809_. but didn't see the update. Apologies if I have missed an explanation.

Any help would be appreciated!

[2021-07-30 05:28] WeilerP commented on #570
Cannot offer any help if package versions are not specified.  Either way, it's a duplicate of a previous issue and has been fixed by #428. Will be available from `scvelo==0.2.4` or you install `scvelo@release/0.2.4` or `scvelo@dev` if you do not want to wait.

[2021-07-30 05:28] #570 closed

[2021-07-30 05:28] WeilerP commented on #568
Closes by #569.

[2021-07-30 05:28] #568 closed

[2021-07-30 05:28] #571 closed

[2021-07-30 08:39] honghh2018 opened #575 "The ratio spliced and unspliced ratio showing weird"
Hi @all，
   It was largely confused that why the ratio number can beyond 100 percentage reach to 1604%.
   The plot showing below:
![image](https://user-images.githubusercontent.com/41668708/127613064-00d88e59-13d1-4dd5-89a5-339bb8f1b3a3.png)
   What happen to this issue?

   scv.logging.print_version()
  Running scvelo 0.2.3 (python 3.8.8) on 2021-07-30 14:57.
Best,
Hanhuihong

[2021-07-30 10:03] WeilerP commented on #575
@honghh2018, this is weird, indeed, and should not happen. Please update your comment with all required info from the issue template, i.e. the code snippet used to generate the output as well as the output of `scv.logging.print_versions()`.

[2021-07-30 10:11] honghh2018 commented on #575
The logging:
scvelo==0.2.3  scanpy==1.8.1  anndata==0.7.6  loompy==3.0.6  numpy==1.20.1  scipy==1.6.1  matplotlib==3.3.4  sklearn==0.24.1  pandas==1.2.2
The code was just one line:
scv.pl.proportions(adata,groupby="anno")

[2021-07-30 10:13] WeilerP commented on #575
@honghh2018, this is the very first step of your analysis pipeline, i.e. `adata` still only contains integer count matrices?

[2021-07-30 10:32] honghh2018 commented on #575
The adata was converted from seurat object that had already preprocessed. not the first step.

[2021-07-30 10:46] WeilerP commented on #575
@honghh2018, I guess this is the problem. I assume you do not have columns `initial_size_unspliced` and `initial_size_spliced` in your `adata.obs` s.t. there is probably a division by a total reference count smaller than 1. This leads to values larger than 100%.

[2021-07-30 10:47] WeilerP opened #578 "Unit test for `scvelo.core._anndata.py::obs_df`"
## Description

The function `scvelo.core._anndata.py::obs_df` needs to be unit tested.

[2021-07-30 10:58] WeilerP commented on #578
Implemented by #579.

[2021-07-30 10:58] #578 closed

[2021-07-30 11:16] SyrupBadger opened #580 "scv.pl.velocity subset on groups not working"
Hi,
I am pretty new to using the scvelo package but so far everything seems to work great with it.  However, I am having an issue when plotting phase and velocity for individual genes.  My sample has 11 clusters and I would like to only show the results for a certain subset of those clusters.  Following through the API for this function I entered the following:
`scv.pl.velocity(adata, ['Prg4'], gr

[2021-07-30 13:26] #580 closed

[2021-07-30 13:35] WeilerP opened #582 "Unit test for `scvelo.core._anndata.py::var_df`"
## Description

The function `scvelo.core._anndata.py::var_df` needs to be unit tested.

[2021-07-30 14:15] WeilerP commented on #582
Implemented by #583.

[2021-07-30 14:15] #582 closed

[2021-07-30 14:17] WeilerP opened #584 "Add assertion statement to `TestObsDf`"
## Description

The unit tests in `TestObsDf` should include an assertion statement checking that the index of the data frame is correct.

[2021-07-30 14:32] WeilerP commented on #584
Closed by #585.

[2021-07-30 14:32] #584 closed

[2021-07-30 20:01] WeilerP opened #586 "Ambiguous layer misspelled in `show_proportions`"
## Description

The velocyto pipeline returns count matrices for unspliced, spliced and ambiguous. By default, `scvelo.core._anndata.py::show_proportions` looks for layers `['unspliced', 'spliced', 'ambigious']`, i.e. there is a typo.

[code]

Expected output:

[code]

Actual output

[code]

#### Versions:

[2021-07-30 20:38] WeilerP commented on #586
Closed through #587.

[2021-07-30 20:38] #586 closed

[2021-07-30 20:42] WeilerP opened #588 "Unit test `scvelo.core._anndata.py::show_proportions`"
## Description

The function `scvelo.core._anndata.py::show_proportions` needs to be unit tested.

[2021-07-30 21:00] WeilerP commented on #588
Closed by #589.

[2021-07-30 21:00] #588 closed

[2021-07-31 05:28] mvinyard commented on #570
Thanks - no help desired, just wanted to bring it up in case it hadn't been mentioned. I hadn't seen the other issue. Thanks again.

[2021-08-02 06:55] WeilerP opened #590 "Unit tests for `set_initial_size`"
## Description

The function `scvelo/core/_anndata.py::set_initial_size` needs to be unit tested.

[2021-08-02 07:29] WeilerP commented on #590
Closed by #591.

[2021-08-02 07:29] #590 closed

[2021-08-02 08:21] WeilerP opened #592 "Reduce maximum AnnData size in unit tests"
## Description

Unit tests may fail because the sample generation takes too long. See e.g. [here](https://github.com/theislab/scvelo/actions/runs/1089356517) or [here](https://github.com/theislab/scvelo/actions/runs/1089375140).

[2021-08-02 08:56] WeilerP commented on #592
Closed by #593.

[2021-08-02 09:35] WeilerP commented on #545
#546 extends CI to Python 3.7 and 3.8. Still need to check why the tests do not finish on macos-latest (see e.g. [here](https://github.com/theislab/scvelo/actions/runs/1056287515)).

[2021-08-02 09:54] #592 closed

[2021-08-02 11:04] WeilerP opened #594 "Ignore files created by pytest-cov"
## Description

Add coverage files to `.gitignore`.

[2021-08-02 11:06] WeilerP commented on #594
Closes by #595.

[2021-08-02 11:06] #594 closed

[2021-08-02 11:21] WeilerP opened #597 "Fix `TestShowProportions::test_layers_not_specified`"
`TestShowProportions::test_layers_not_specified` still specifies the layers instead of using the default `layers=None`.

[2021-08-02 11:41] WeilerP commented on #597
Closed by #598.

[2021-08-02 11:41] #597 closed

[2021-08-02 11:48] WeilerP opened #599 "Check `inplace` in unit tests for `clean_obs_names`"
## Description

As of now, the unit tests for `scvelo/core/_anndata.py::clean_obs_names` do not take the argument `inplace` into account.

[2021-08-02 11:57] WeilerP commented on #599
Closed by #600.

[2021-08-02 11:57] #599 closed

[2021-08-02 13:03] WeilerP opened #601 "Test `make_dense`/`make_sparse` if modality is passed as string"
## Description

The test class `TestMakeDense` and `TestMakeSparse` does not cover the case where `modality` is passed as a string.

[2021-08-02 13:20] WeilerP opened #603 "Support making `adata.X` sparse in"
## Description

Because of theislab/anndata#500, `adata.X` could not be converted to sparse using `make_sparse` for `anndata<0.7.6`. This has been fixed in `anndata=0.7.6`.

[2021-08-02 13:25] WeilerP commented on #601
Closed by #602.

[2021-08-02 13:25] #601 closed

[2021-08-02 13:38] WeilerP opened #604 "Fix `TestGetInitialSize::test_not_existing_modality`"
## Description

The unit test `TestGetInitialSize::test_not_existing_modality` fails if `layer='X'` is generated by the hypothesis strategy.

[2021-08-02 13:53] WeilerP commented on #604
Closed by #605.

[2021-08-02 13:53] #604 closed

[2021-08-02 13:57] rbpatt2019 commented on #525
Just starting to implement a pipeline using STARSolo output with scVelo and want to clarify on some of the points here. In the code snippet at [alexdobin/STAR#774](https://github.com/alexdobin/STAR/issues/774#issuecomment-850477636), the raw count matrix is put into `adata.X` while the spliced, unspliced, and ambiguous data are stored in `adata.layers`. The discussion at [theislab/scanpy#1860](htt

[2021-08-02 14:38] rbpatt2019 commented on #525
@WeilerP thanks for the quick response! I'm hoping to have some time for pipeline development this week. If I do, I'll poke around and see if having one or the other at `adata.X` breaks anything.

[2021-08-02 19:53] WeilerP opened #606 "Increase coverage of l2_norm unit tests"
## Description

The unit test for `scvelo/core/_metrics.py` only generates one dimensional arrays. 2D and sparse arrays are not yet covered.

[2021-08-02 20:18] WeilerP commented on #606
Closed by #607.

[2021-08-02 20:18] #606 closed

[2021-08-03 06:14] WeilerP opened #608 "Add `varm` to AnnData strategy"
## Description

The strategy to generate `AnnData` objects for the unit tests does not yet add entries to `adata.varm`.

[2021-08-03 07:12] WeilerP commented on #608
Closed by #609.

[2021-08-03 07:12] #608 closed

[2021-08-03 07:16] WeilerP opened #610 "Unit test `merge`"
## Description

`scvelo/core/_anndata.py::merge` needs to be unit tested.

[2021-08-03 07:25] WeilerP commented on #610
Closed by #611.

[2021-08-03 07:25] #610 closed

[2021-08-04 10:11] WeilerP opened #612 "Start indices not used in WOTKernel.plot_random_walks"
## Description

Running

[code]

prompts the warning

even though the start indices have been specified. The warning did not pop up when omitting the projection part, i.e.

[code]

#### Versions:

[2021-08-04 12:34] WeilerP opened #613 "Steady state calculation failure not caught"
## Description

The calculation of steady states of the splicing model fails for inadmissible parameter values but does not raise a helpful error.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-04 13:23] WeilerP commented on #613
Closes by #614.

[2021-08-04 13:23] #613 closed

[2021-08-04 13:31] WeilerP opened #617 "Maximum/minimum `varm` entries not reset in AnnData strategy"
## Description

The AnnData strategy does not reset the minimum/maximum entries `min_varm`/`max_varm` in `adata.varm` when `varm_keys` is specified.

#### Versions:

[2021-08-04 13:45] WeilerP commented on #617
Closed by #616.

[2021-08-04 13:45] #617 closed

[2021-08-04 13:47] WeilerP opened #619 "Increase coverage for `SplicingDynamics`"
## Description

ATM, the unit tests do not cover

* the case when time is passed as a 2-dimensional array,
* Setting/getting initial states
* Calculating steady states

[2021-08-04 13:56] WeilerP commented on #619
Closes by #618.

[2021-08-04 13:56] #619 closed

[2021-08-04 13:58] WeilerP opened #621 "Failure in `TestCleanup`"
`TestCleanup.test_cleanup_default_clean_w_random_adata` fails if hypothesis generates an AnnData object with `unspliced`, `spliced`, `Ms` or `Mu` in `adata.layers` as these are note removed, i.e.

[code]

fails

</details>

#### Versions:

[2021-08-04 14:04] WeilerP commented on #621
Closed by #620.

[2021-08-04 14:04] #621 closed

[2021-08-04 15:45] WeilerP opened #623 "Unit test `get_df`"
## Description

`scvelo/core/_anndata.py::get_df` needs to be unit tested.

[2021-08-05 05:00] WeilerP commented on #623
Closed by #624.

[2021-08-05 05:00] #623 closed

[2021-08-06 18:42] adamgayoso opened #625 "Warning about unexpected neighbors graph"
I suspect this issue is here:

https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/preprocessing/neighbors.py#L313-L325

Doesn't scanpy now store neighbors in `.obsp`? This occurs if using scanpy to compute neighbors.

[2021-08-06 19:10] WeilerP commented on #625
Thanks @adamgayoso. I'll have a look at it ASAP!

[2021-08-06 19:13] WeilerP commented on #625
@adamgayoso, which version of scanpy are you using? The latest, i.e. `scanpy=1.8.1`? Or are you working with `scanpy@master`?
Could you also please provide a minimal working example for which the error is thrown? I presume it is `sc.pp.neighbors()` and them some scVelo function checking the neighbors graph?

[2021-08-06 19:16] WeilerP opened #626 "Exclude `tools/dynamics/` from `scvelo=0.2.4`"
## Description

`scvelo=0.2.4` should not include `tools/dynamics`. After merging `scvelo@release/0.2.4` into `scvelo@develop` and prior to merging it into `scvelo@master`, `tools/dynamics` needs to be removed.

[2021-08-06 19:49] WeilerP commented on #625
Update after briefly discussing this offline: The error is thrown after running the standard pipeline, e.g.

[code]

The problem comes from supposed duplicate cells, which aren't actual duplicates but only appear to be after filtering.

[2021-08-09 10:59] GrigoriiNos opened #627 "Discrepancy between exonic/intronic reads statistic and spliced/unspliced transcripts."
Dear scVelo developers,

First off, thanks a lot for your amazing work and this cool software!

I encountered an issue while working with scVelo.
I'm trying to do velocity analysis for CD4 t cells.
In all my samples, according to web_summaries from cell ranger, an average percent of exonic reads is around 70% and intronic is 8%, which would suggest that I should have way more spliced transcripts t

[2021-08-09 11:51] WeilerP commented on #627
@GrigoriiNos, are you running this as the very first step of your pipeline, i.e. on the raw data immediately after reading the AnnData object?

[2021-08-09 11:51] #575 closed

[2021-08-09 11:52] WeilerP commented on #625
Closing this since the current warning already points towards potential issues when subsetting data. Will circle back to it once the corresponding code is being unit tested and refactored.

[2021-08-09 11:52] #625 closed

[2021-08-09 11:54] WeilerP opened #628 "Release notes for scVelo 0.2.4"
## Description

The release notes for `scvelo==0.2.4` need to be added.

[2021-08-09 12:25] GrigoriiNos commented on #627
@WeilerP
Thanks for the fast response
I'm running this right after AnnData.concatenatee all loom files into one AnnData object

Per batch ratios is the same
![Screenshot 2021-08-09 at 15 25 00](https://user-images.githubusercontent.com/45093246/128705693-cd2de256-026d-4f57-882d-18e7cf335873.png)

[2021-08-09 12:33] WeilerP commented on #627
@GrigoriiNos could you please provide a code snippet leading to the plots? I presume it is something along the lines of

[code]

And these counts are raw, i.e. the output of e.g. velocyto s.t. your AnnData objects contain the layers `'unspliced'`, `'spliced'`, `'ambiguous'`?
There is a typo [here](https://github.com/theislab/scvelo/blob/1659cc8e00a45fcf87cd80a7013aae5531744613/scvelo/plotting/prop

[2021-08-09 12:54] GrigoriiNos commented on #627
I've done basic scRNA-seq analysis in Seurat and transferred metadata to AnnData manually

# some metadata from Seurat analysis
meta = pd.read_csv('metadata.tsv', sep='\t')

# read looms
ldata_batch1 = scv.read('batch1_loom', cache=False)
ldata_batch1.var_names_make_unique()

ldata_batch2 = scv.read('batch2_loom', cache=False)
ldata_batch2.var_names_make_unique()

#(the same for all other batches)

[2021-08-10 05:59] WeilerP commented on #627
So when you say "basic scRNA-seq analysis in Seurat" you mean the counts are not raw (e.g. already normalized and filtered) or that you simply transferred e.g. cluster labels to the AnnData object?

[2021-08-10 08:08] GrigoriiNos commented on #627
@WeilerP
I didn't even transfer count matrix, I only assigned my Seurat @meta.data to anndata.obs and umap coordinates obsm['X_umap'], I was only going to use velocity in python

[2021-08-10 08:28] WeilerP commented on #627
If you already filtered cells/genes in R, the proportions will/can change, right?

To check proportions manually, you'll need to calculate them yourself in Python or R.

[2021-08-10 08:37] GrigoriiNos commented on #627
I don't filter genes, I don't think I need to

I'd be shocked if filtering out bad QC cells would change this proportion that drastically,

Here are raw proportions, without any filtering
![Screenshot 2021-08-10 at 11 33 25](https://user-images.githubusercontent.com/45093246/128835028-95db2e63-8fc4-4785-a6b8-70b226286af9.png)

[2021-08-10 08:41] WeilerP commented on #627
@GrigoriiNos, you need to check the proportions yourself to verify that this is indeed a problem caused by scVelo (i.e. we are calculating them wrong) and not already present in your data. I cannot possible infer the problem by simply looking at plots.

[2021-08-12 16:37] auroramaurizio opened #629 "trajectories change a lot modifying the number of n_top_genes"
Dear VolkerBergen, thank you for the great tool and for being always so helpful with the users! I am wondering why the trajectories in my dataset change dramatically when I modify the n_top_genes parameter in scv.pp.filter_and_normalize(adata) e.g. from 2000, to 3000 or 4000. I assume it depends on my data and I expected slightly different results playing with this parameter, but the effect is rea

[2021-08-12 19:12] #629 closed

[2021-08-13 08:57] shijianasdf opened #631 "scv.datasets.pancreas() OSError: Unable to open file (truncated file: eof = 7340032, sblock->base_addr = 0, stored_eof = 52477898)"
After running scv.datasets.pancreas() in the linux server, I got the following error:
![image](https://user-images.githubusercontent.com/39074222/129331728-7de79339-c68b-4034-9468-e2e2d2b049e2.png)

then i run scv.datasets.pancreas() in MAC, I got the following error:
![image](https://user-images.githubusercontent.com/39074222/129332192-a2c1a64f-a97d-423c-b001-50543339bf59.png)

[2021-08-13 09:50] WeilerP commented on #631
@shijianasdf, looks like a Scanpy/AnnData problem. Please open an issue there.

[2021-08-13 09:50] #631 closed

[2021-08-13 13:56] christoffermattssonlangseth commented on #256
I'm currently running into this issue. Has there been any consensus on where it stems from? I have installed a fresh conda environment according to @cadyyuheng versions but still doesn't work. Also, I have three separate anndata objects and it works for one of them, it still says that `"WARNING: The neighbor graph has an unexpected format (e.g. computed outside scvelo) or is corrupted (e.g. due to

[2021-08-13 15:27] WeilerP commented on #256
@christoffermattssonlangseth, did you subset your AnnData? This issue previously occured, for example, when after filtering  some observations appeared to be duplicates, i.e. related to subsetting as mentioned in the warning. Might this be the issue for you?

[2021-08-13 16:54] shank117 opened #632 "Corrupted neighbors graph using spatial data on scvelo"
Hi
I have downloaded the BAM file from the spaceranger pipeline here: https://support.10xgenomics.com/spatial-gene-expression/datasets/1.3.0/Visium_FFPE_Human_Breast_Cancer? (Human breast cancer 1.3 genome aligned bam). Then I used Velocyto to create the .loom file. Then I followed the example workflow from scvelo from the endocrine. When I tried to run my dataset into scvelo I received a corrupte

[2021-08-13 18:17] WeilerP commented on #632
@shank117 please provide the output of `scv.logging.print_versions()` as asked for in the issue template.

[2021-08-13 21:25] gav-sturm commented on #453
was scanpy able to help with this bug? i just ran into the same issue. Was working fine in December of 2020 but now have the same error message

[2021-08-14 01:30] shijianasdf opened #633 "scv.pp.moments(adata) AssertionError: Storing i64 to ptr of i32 ('dim'). FE type int32"
...

I use the demo data from Pancreatic endocrinogenesis and I run scv.pp.moments()
[code]

then i got the following error:
[code]

#### Versions:

[code]

[2021-08-14 06:21] WeilerP commented on #453
@gav-sturm which versions are you using?

[2021-08-14 06:24] WeilerP commented on #633
Closing as this is a duplicate of #388 (see also e.g. #428 and #570).

[2021-08-14 06:24] #633 closed

[2021-08-16 07:08] shijianasdf opened #634 "scv.pl.velocity_embedding_stream(adata, basis='umap'). KeyError: 'X_umap'"
I run scv.pl.velocity_embedding_stream() like below
[code]
and i got the following error:
[code]

#### Versions:

scvelo==0.2.3  scanpy==1.8.1  anndata==0.7.6  loompy==3.0.6  numpy==1.20.3  scipy==1.7.1  matplotlib==3.4.2  sklearn==0.24.2  pandas==1.3.1
Numba: Attempted to fork from a non-main thread, the TBB library may be in an invalid state in the child process.
ERROR: XMLRPC request failed [co

[2021-08-16 08:14] WeilerP commented on #634
@shijianasdf seems like you did not calculate the UMAP embedding beforehand. You need to run

[code]

first. This will save the embedding as `adata.obsm['X_umap']`.

[2021-08-16 08:14] #634 closed

[2021-08-16 08:49] christoffermattssonlangseth commented on #256
@WeilerP, no I have not subsetted the Anndata objects. Is there anything in particular I should look for in the neighborhood graphs?

[2021-08-16 08:50] shijianasdf commented on #634
Thank you for helping me solve my big problem

[2021-08-16 08:53] WeilerP commented on #256
@christoffermattssonlangseth, could you please provide a code snippet of the pipeline you are running and the output it produces?

[2021-08-16 09:12] WeilerP commented on #256
@christoffermattssonlangseth seems like a different setup (data type etc.) compared to the original content of the issue. Please open a new issue template and providing all the info asked for in the issue template. It'll make it easier for others to find a solution when running into the same issue when working with this kind of data. Thanks!

[2021-08-16 09:13] giovp commented on #632
hi @shank117 , jumping in on this as I noticed you are trying to run scavelo on FFPE tissue. Seems like the proportion of spliced/unspliced is off. Out of curiosity, did you try to run this analysis on standard Visium datasets (non FFPE)? thank you!

[2021-08-16 09:14] WeilerP commented on #632
@shank117, also some input on your pipeline:
1. You should call `adata.var_names_make_unique` as suggested by the output.
2. You seem to filter out a lot of genes based on counts. You may want to reduce the number of `min_shared_counts`.
3. Would you mind checking that observations do not appear to be duplicates after the filtering step?
4. You should impute your data, i.e. run `scv.pp.moments`.

[2021-08-16 09:19] WeilerP opened #635 "Datasets module"
## Description

Instead of having a single file `scvelo/dataset.py`, there should be a module `scvelo/datasets/`. This will also allow splitting the functions `scvelo/dataset.py` into different files.

[2021-08-16 09:26] WeilerP commented on #627
@GrigoriiNos, I am closing this issue for now. Feel free to reopen once you checked that proportions are as expected in your AnnData object.

[2021-08-16 09:26] #627 closed

[2021-08-16 09:43] WeilerP commented on #635
Closed by #636.

[2021-08-16 09:43] #635 closed

[2021-08-16 09:55] christoffermattssonlangseth opened #637 "Velcity graph not computed due to neighbor graph (computed in scVelo)"
The error arises when I'm to compute the velocity graph using` scv.tl.velocity_graph`. I have an [anndata object ](https://drive.google.com/file/d/19dIPNjWJi1FazKDuwcw2a44sTPzx2rcH/view?usp=sharing) that is created using [SIRV](https://github.com/tabdelaal/SIRV), integrating single cell sequencing data and in situ sequencing data.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#

[2021-08-16 10:05] WeilerP commented on #637
@christoffermattssonlangseth, thanks for opening a blank issue after our previous brief discussion in #256.

I have two immediate comments:
1. The neighbor graph should be calculate once. I assume you added `scv.tl.neighbors` prior to `scv.tl.velocity_graph` because the warning popped up?
2. In scVelo, we do not scale the data. Scaling the data will also scale model parameters and velocities in th

[2021-08-16 11:37] WeilerP commented on #637
@christoffermattssonlangseth the problem are 814 duplicate observations in your data. After removing them, you can run the pipeline, i.e. simply use

[code]

ATM, I'm not sure if the `ValueError` in `scvelo.tools.velocity_graph::VelocityGraph` [here](https://github.com/theislab/scvelo/blob/8dbc8ea6230ba66b219fc905ac668cfde0405caf/scvelo/tools/velocity_graph.py#L111) can simply be replaced by the w

[2021-08-16 12:31] christoffermattssonlangseth commented on #637
Thank you so much @WeilerP! I should have know to check that. My bad!

[2021-08-16 22:39] ajs1029 commented on #163
@zhanglab2008

I've used DESC to correct for batch effect in clustering. But as far as I'm aware, DESC doesn't return a corrected matrix, which I believe is necessary for velocity prediction and differential gene expression analysis (?).

Have you found a way around this using DESC? If so, could you please explain your process?

[2021-08-17 13:04] stefanpeidli commented on #438
Hi Philipp,
I've seen this error multiple times in the past. For me, it seems to happen when your adata.X is not a sparse csr matrix anymore (e.g. after using combat). Conversion of adata.X to a csr_matrix solved the issue for me.
-Stefan

[2021-08-17 15:25] shank117 commented on #632
Here is the output:
Running scvelo 0.2.3 (python 3.8.8) on 2021-08-17 11:25.
Numba: Attempted to fork from a non-main thread, the TBB library may be in an invalid state in the child process.
ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI's XMLRPC API is currently disabled due to unmanageable load and will be deprecated in the near future. See https://status.python.org/ for more inf

[2021-08-17 15:31] shank117 commented on #632
I have not used non FFPE datasets. I am sorry I am new to all of this could you tell me what the difference is between FFPE datasets and non FFPE datasets are? I am using Visium datasets for all my analysis and it has worked for nonspatial datasets like: https://support.10xgenomics.com/single-cell-gene-expression/datasets/3.0.0/pbmc_1k_v3?

[2021-08-17 15:36] shank117 commented on #632
@WeilerP

I have run this now:
scv.pp.filter_and_normalize(adata, min_shared_counts=5, n_top_genes=1000)
scv.pp.moments(adata, n_pcs=20, n_neighbors=20)
scv.pp.neighbors(adata, n_pcs=20, n_neighbors=20)

The rest is the same as above.

The output is:
Running scvelo 0.2.3 (python 3.8.8) on 2021-08-17 11:33.
Numba: Attempted to fork from a non-main thread, the TBB library may be in an invalid state

[2021-08-17 17:49] WeilerP commented on #632
This doesn't seem to be the output of `scv.logging.print_versions()`. It should print a number of package versions (e.g. `scanpy` and `anndata`).

@shank117 one quick remark: You should run the neighbor calculation prior to `scv.pp.moments`. You can check the number of duplicate rows e.g. via

[code]

I'd first check that there are no duplicate rows both immediately after reading the data and then

[2021-08-18 10:09] WeilerP opened #639 "Wrong version in deprecation warning for `pancreatic_endocrinogenesis`"
## Description

The deprecation warning for `pancreatic_endocrinogenesis` specifies it being deprecated since `v0.2.4` but it should be `v0.2.5`.

[2021-08-18 10:35] WeilerP commented on #639
Closed by #640.

[2021-08-18 10:35] #639 closed

[2021-08-18 10:37] WeilerP opened #641 "Custom path for datasets"
## Description

It should be possible to save/read the datasets accessible through scvelo using a custom path.

[2021-08-18 11:09] WeilerP commented on #641
Closed by #642.

[2021-08-18 11:09] #641 closed

[2021-08-18 11:30] WeilerP opened #643 "Simulation fails with `noise_model="gillespie"`"
## Description

Simulating a dataset with `noise_model="gillespie` fails. The problem is the case where `alpha=0` and there were no unspliced and spliced counts in the last time step.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-18 11:48] WeilerP commented on #643
Closed by #644.

[2021-08-18 11:48] #643 closed

[2021-08-18 12:08] WeilerP opened #645 "Unit test `scvelo.datasets`"
## Description

The module `scvelo.datasets` needs to be unit tested.

[2021-08-18 12:33] WeilerP commented on #645
Closed by #646.

[2021-08-18 12:33] #645 closed

[2021-08-18 14:13] AAA-3 opened #647 "Using precomputed tSNE coordinates"
Hello! I have seurat tSNE coordinates for my cells:

CellID | tSNE_1 | tSNE_2
-- | -- | --
221929_WT3:AACCATGCAGCCTTGGx | -23.0987642749178 | -15.9412999105341
221929_WT3:AACTGGTAGCGTAATAx | 15.4933217201963 | -18.9078173370809
221929_WT3:ACCCACTCAGGGTACAx | 9.28644825194571 | -21.3096658306121
221929_WT3:ACCTTTATCAATAAGGx | 4.2676676477722 | -21.5265299052195
221929_WT3:ACGAGGATCTACTTACx | -21.49

[2021-08-18 14:17] #647 closed

[2021-08-18 17:08] shank117 commented on #632
@WeilerP

Thank you for the advice. I did not find any duplicates and ran what you suggested but I am still getting the same error unfortunately with the same output.

[2021-08-18 18:38] giovp commented on #632
@shank117

I am not entirely sure ( @WeilerP knows more) but if the issue is the quality of the data itself (and If I'm not mistaken the spliced/unspliced ratio looks off), I'd go with non-FFPE data. FFPE data are known to have lower quality because of the fixation protocol.

[2021-08-19 06:06] WeilerP commented on #632
@shank117, did you check for duplicate rows both after reading the data as well as after calling `scv.pp.filter_and_normalize`? If so, can you share the AnnData object you are running your pipeline on? I'd have to take a closer look at it when I find the time.w

[2021-08-19 13:00] WeilerP opened #649 "`get_df` fails with default arguments"
## Description

Running `scvelo.core.get_df` (`scv.read_load.get_df` on `scvelo@master`) fails when using it default arguments.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-19 13:02] WeilerP opened #650 "`get_df` fails with `keys=[]`"
## Description

Passing an empty list for `keys` in `get_df` fails.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-19 13:16] WeilerP opened #651 "Simulation fails when time dependent parameters are passed as a list"
## Description

Simulating data with `scvelo.datasets.simulation` and passing one parameter value per observation in form of lists fails.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-19 13:24] WeilerP opened #652 "Simulation fails for non-scalar parameters and `noise_model='gillespie'`"
## Description

Simulating a dataset using `scvelo.datasets.simulation` using `noise_model='gillespie'` with non-scalar parameters and `n_obs != len(parameters)` fails.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-19 13:43] WeilerP opened #653 "Simulation fails for `n_obs=1`"
## Description

Simulating data with `scvelo.datasets.simulation` fails if `n_obs=1` is passed.

[code]

<details>
<summary> Error </summary>

[code]
</details>

#### Versions:

[2021-08-20 11:24] AAA-3 commented on #192
Hello @VolkerBergen -

I ran this code and successfully imported my tSNE coordinates from Seurat but when I load my saved loom file with the `obsm_mapping` parametre I get an error:
`adata = scv.read_loom("/home/ali/Dokumente/RPractise/Velocity/PythonCodes/adata.loom", obs_names="CellID", var_names="Gene", obsm_mapping="X_tsne")`
![image](https://user-images.githubusercontent.com/68068335/13020916

[2021-08-20 12:17] WeilerP commented on #192
@AAA-3, as already mentioned in #648, this is **not** an scVelo but Scanpy/anndata issue. Please open an issue/discussion there.

[2021-08-23 13:38] AAA-3 commented on #421
Is there a way to modify the dimensions in any way? I tried setting them in `scv.set_figure_params('scvelo',dpi=300, dpi_save=500, figsize=[1200,1200], format='png')` but the saved files do not seem to change. I ask because the saved image has overlapping text:
![scvelo_KO_proportions](https://user-images.githubusercontent.com/68068335/130456957-8de73471-5193-4ae1-9c39-343a5db59ff2.png)

[2021-08-23 19:54] shank117 commented on #632
@WeilerP

Here is the loom file:
[Visium_FFPE_Human_Breast_Cancer_possorted_genome_bam_5BKOT.loom.zip](https://github.com/theislab/scvelo/files/7034541/Visium_FFPE_Human_Breast_Cancer_possorted_genome_bam_5BKOT.loom.zip)

[2021-08-24 17:43] quarkmatter opened #661 "tl.latent_time() yields all NaNs"
Hi! I'm running into some difficulty in computing latent times on my data set.  I do not get any error, but when I look at the latent times, they are all NaN. After a relatively standard preprocessing I run the following:

[code]

I've tried, for instance, not scaling the data, setting diff_kinetcs=False, setting mode='stochastic' but the issue persists. Most everything else looks okay and there's

[2021-08-24 20:02] WeilerP commented on #661
@quarkmatter please reopen an issue providing a code snippet to reproduce your steps as well as the versions you are using as asked for in the issue template.

[2021-08-24 20:02] #661 closed

[2021-08-24 20:43] quarkmatter opened #662 "tl.latent_time() yields all NaNs"
Hi! I'm running into some difficulty in computing latent times on my data set. I do not get any error, but when I look at the latent times, they are all NaN. Also, the top ranked dynamical genes don't really look right. I run the following with no errors

[code]

Then in a new notebook

[code]

![](https://user-images.githubusercontent.com/25307346/130663862-80cadd84-eeff-4abd-a32b-16f8628010f1.pn

[2021-08-25 01:56] honghh2018 opened #665 "The scvelo object writing into disk showing error by scv.write_h5ad("mouse.h5ad")"
Hi guys,
     It seem to me that it make me confused as to save the scvelo object to disk. It show to me below error:
     I want to save the temporary object to disk to prevent the variable damage.
    So, how can i fix this issue?
ValueError                                Traceback (most recent call last)
~/miniconda3/envs/scvelo/lib/python3.8/site-packages/anndata/_io/utils.py in func_wrapper(e

[2021-08-25 06:00] honghh2018 opened #666 "The scv.pl.proportions(adata) can not be save in jupyter notebook"
Hi,
    I want to save the plot when running  the scv.pl.proportions(adata) , however, this function had not the save parameter.
    So, how can i save this plot ?
Best,
Hanhuihong

[2021-08-25 07:41] WeilerP commented on #665
@honghh2018, the function `scv.write_h5ad` does not exist and the problem you are encountering is caused by `anndata`. Please open an issue [there](https://github.com/theislab/anndata/issues).

[2021-08-25 07:41] #665 closed

[2021-08-25 07:46] honghh2018 opened #667 "What exactly mean about the Walnut type in scvelo"
Hi guys,
![image](https://user-images.githubusercontent.com/41668708/130747846-775ee756-36cb-46e5-b8c5-89373786ee42.png)
I had two genes like above plot and what exactly mean about picture that the red and yellow arrow point to, why the gap so difference between yellow arrow and the red arrow, what this condition mean ?
 How can i explain this different?
Best,
Hanhuihong

[2021-08-25 07:48] #667 closed

[2021-08-25 10:24] #499 closed

[2021-08-25 11:27] WeilerP opened #670 "PAGA docs not displayed correctly"
The documentation of `scvelo.tl.paga` is not displayed correctly [here](https://scvelo.readthedocs.io/scvelo.tl.paga/#scvelo.tl.paga). The returned statements include redundant asterisks `****`.

#### Versions:

[2021-08-25 11:35] WeilerP opened #671 "Return statement in docs not as expected"
The return statement in the documentation is not as expected: For `scvelo.tl.terminal_states`, for example, the expected output is

but the actual output is

This behavior applies to several functions.

#### Versions:

[2021-08-25 11:37] WeilerP commented on #670
The return statement should probably be similar to other functions, i.e. something along the lines of

[2021-08-25 13:40] WeilerP commented on #628
Closed by #669.

[2021-08-25 13:40] #628 closed

[2021-08-25 13:51] WeilerP commented on #626
Closed by #672.

[2021-08-25 13:51] #626 closed

[2021-08-25 15:37] WeilerP commented on #632
@shank117, as suspected, your data does contain duplicate rows (70 after reading, 575 after filtering). Removing them solves the problem.

[2021-08-25 15:38] WeilerP commented on #637
I'll close this and open a more descriptive feature/enhancement request.

[2021-08-25 15:38] #637 closed

[2021-08-25 15:39] WeilerP commented on #632
This is also a duplicate of #637.

[2021-08-25 16:48] VolkerBergen commented on #670
fixed

[2021-08-25 16:48] #670 closed

[2021-08-25 16:49] VolkerBergen commented on #671
fixed

[2021-08-25 16:49] #671 closed

[2021-08-26 08:02] michalk8 opened #673 ".pl.scatter color gradients and colors"
`.pl.scatter` gets rid of the `color` [here](https://github.com/theislab/scvelo/blob/master/scvelo/plotting/scatter.py#L253) when plotting the `color_gradients`.

I'd like for this code:
[code]
to create a figure with 2 axes, with the color gradients positioned on the left (or on the right, no preference) and the axes showing keys from `color`.

[2021-08-26 12:52] AAA-3 opened #674 "scv.pl.scatter() error"
Hello!

I am having difficulties trying to obtain phase portraits of the important genes by cluster.

BACKGROUND: The single cell sequencing was done on developing embryonic brains at E18.5 in KO mice. The data was integrated and analysed in Seurat v2.x.

Separately, Velocyto was run on individual sample files which were concatenated to form one AnnData file. From the Seurat Object,  tSNE coordina

[2021-08-30 07:39] WeilerP commented on #632
Yes, I would assume that this phenomenon comes up more often if data quality is low.

[2021-08-30 08:12] WeilerP commented on #674
@AAA-3, you need to pass the column by which to color, i.e. where the cell types specified with `add_outline` are defined. Running

[code]

works.

[2021-08-30 08:12] #674 closed

[2021-08-30 08:18] WeilerP commented on #674
A general remark: You should filter genes based on counts and dispersion prior to any analysis. See e.g. [here](https://www.embopress.org/doi/full/10.15252/msb.20188746) for best practices in single-cell RNA-seq analysis.

[2021-08-31 12:21] WeilerP opened #676 "Add new datasets to `datasets/__init__.py`"
## Description

The datasets added in `scvelo=0.2.4` cannot be imported from `scvelo.datasets` on `scvelo@dev`.

[2021-08-31 12:35] WeilerP commented on #676
Closed by #677.

[2021-08-31 12:35] #676 closed

[2021-08-31 12:36] WeilerP commented on #662
@quarkmatter, any news on this?

[2021-09-01 11:26] WeilerP opened #678 "`csr_vcorrcoef` calculates wrong correlation"
## Description

In `csr_vcorrcoef`, the radicals in the denominator of the Pearson's correlation are calculated incorrectly. For 1d arrays `X`, the radical should be

[code]

or equivalently

[code]

The actual implementation is missing the factor `2` as well as `len(X)`.

<details> <summary> Versions </summary>

[code]
</details>

[2021-09-01 13:44] WeilerP commented on #678
Closed via #679.

[2021-09-01 13:44] #678 closed

[2021-09-01 17:33] quarkmatter commented on #662
Hi,

Yes I took your advice and switched around the workflow and it seems to be working fine now. Still not sure why all the NaNs were there. didn't get a chance to check your last suggestion on that, but If the issue arises again its the first thing I'll do.

thanks!!

[2021-09-01 17:33] #662 closed

[2021-09-01 18:16] WeilerP commented on #525
@rbpatt2019, did you manage to develop the pipeline to use STARSolo output in scVelo?

[2021-09-01 20:08] #367 closed

[2021-09-03 13:00] EmilyMiddendorp opened #683 "RAM usage from scVelo functions."
Hi!
I am analysing a dataset of 87012 cells and reducing the number of genes as much as possible every step. I am doing the analysis on a Mac M1 silicon 8 cores with 16GB of RAM and on a Linux virtual machine 16 cores 32GB of RAM. In both machines, some processes are constantly killed. It seems like there are many RAM peaks were the code gets killed.
I was wondering what is the (estimated) RAM usa

[2021-09-06 07:59] #683 closed

[2021-09-06 12:31] linscnano opened #685 "Bug appears when I import scvelo as scv"
ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI's XMLRPC API is currently disabled due to unmanageable load and will be deprecated in the near future. See https://status.python.org/ for more information.

[code]

<details>

<summary> Error output </summary>

[code]
</details>

<details> <summary> Versions </summary>

[code]
</details>

[2021-09-06 13:00] WeilerP commented on #685
@linscnano, please either open a new issue providing a reasonable title, all info asked for in the issue template and a description of when you encounter this error (e.g. OS, when importing it from terminal or an editor or JupyterLab) or reopen this issue and update title and issue description accordingly.

FYI: I do not encounter the issue when importing scvelo but only when running `scv.logging.

[2021-09-06 13:00] #685 closed

[2021-09-08 12:41] AAA-3 opened #688 "ModuleNotFoundError: No module named 'sinfo'"
Importing scvelo gives the following error:

It was running fine but has now stopped importing on jupyter notebooks and the terminal. I have `sinfo 0.3.4`  and `scvelo 0.2.4`

I have tried ´conda update --all´ and uninstalling and reinstalling scvelo which has not helped. Any ideas?

[code]

[2021-09-08 12:57] WeilerP commented on #688
Based on the Traceback, this is a Scanpy issue. Please open an issue there.

[2021-09-08 12:57] #688 closed

[2021-09-08 13:13] AAA-3 commented on #688
Thanks!
For future if anyone runs into this:

I uninstalled and reinstalled Anndata, scVelo and scanpy and ran conda update --all multiple times to let conda sort out environment inconsistencies. Then I downloaded sinfo again (without uninstalling it) after which conda updated the package. I ran conda update --all again to see if there were any other inconsistencies (there were) and once that was

[2021-09-09 00:11] ACastanza opened #689 "scv.pl.scatter() error during differential kinetics (using velocity genes and numeric Leiden clusters)"
I was working through the differential kinetics workflow but trying to select the genes using the velocity genes list instead of manually specifying a handful of candidate genes. When running the function to scatter plot the genes from the differential kinetics calculation after the "diff_clusters" step, the scv.pl.scatter function is returning an error.

[code]

<details>

<summary> Error output

[2021-09-09 05:07] WeilerP commented on #689
Looks awful similar to #674. @ACastanza, could you please check if passing `color` fixes the issue?

[2021-09-09 05:16] ACastanza commented on #689
Oh! Yes, that did fix it! Thanks! If its supposed to detect the clustering to color by automatically it was probably failing because the clustering in my dataset was under `adata.obs['leiden']`
If it's not supposed to autodetect in that function, it might be good to get that particular command in the Differential Kinetics vignette updated.

[2021-09-09 05:39] WeilerP commented on #689
Agreed. There should be a check that both arguments are provided.

[2021-09-09 05:39] #689 closed

[2021-09-09 05:43] WeilerP opened #690 "Add check for outline highlighting in scatter plots"
## Description

To prevent unexpected and uninformative failures as in #674 and #689, there should be a check that if `add_outline` is provided, `color` is as well.

[2021-09-13 12:18] paula-tataru opened #694 "Negative r2"
Hi,

I was investigating the results of the analysis on the pancreas example data and I noticed that the estimated r2 can be negative, with the smallest observed value when running the steady-state model to be -13.205:

[code]

This surprised me and I investigated a bit the issue.

Below is a paragraph from [wiki](https://en.wikipedia.org/wiki/Coefficient_of_determination) that I think might be re

[2021-09-13 12:56] WeilerP commented on #694
@paula-tataru, this is not a bug. We define the R2 score as one minus the fraction of the sum of squares of residuals and total sum of squares. Consequently, R2 can become negative. A negative R2 simply tells you that your fit is worse than a horizontal line at the mean of the unspliced abundance. Do you mind sharing the phase portrait and inferred steady state ratio? Would be keen on seeing what

[2021-09-14 06:44] paula-tataru commented on #694
The estimated gamma for the gene in question is 14.836441.
![Mbd5](https://user-images.githubusercontent.com/4553863/133208367-79ee8261-d956-4145-8d2f-f414b388b9be.png)

[2021-09-14 07:00] WeilerP commented on #694
Thanks for sharing @paula-tataru. As you can see, the phase portrait does not have a football shape but is simply a blob. Consequently, it does not offer any insight for RNA velocity analysis (in case you expect a differentiation from green to orange/blue). You can also see that a horizontal line at approx. 1 would be a better fit compared to a straight line with the steady state ratio as slope. I

[2021-09-14 07:00] #694 closed

[2021-09-15 10:07] WeilerP opened #695 "Passing `perc` to `get_mean_var` has no effect"
Passing a percentile to `get_mean_var` does not affect the output. The clipping to the percentiles is applied only to the variable `data` but not `X`.

[code]

In both cases, the mean is 50, the variance 858.5. The second case should be equal to

[code]

which has a mean of approx. 49.55 and variance 795.75.

<details> <summary> Versions </summary>

[code]
</details>

[2021-09-15 10:27] WeilerP opened #696 "`get_mean_var` uses different size parameters for mean and variance"
In `get_mean_var`, the size parameter for mean and variance used is different in the two cases. For the mean, the number of non-zero entries (minus NAN entries) is used. For the variance, the actual number of observations per feature.

<details> <summary> Versions </summary>

[code]
</details>

[2021-09-15 10:41] WeilerP opened #697 "`get_mean_var` fails with sparse input and `ignore_zeros=True`"
Passing a sparse array to `get_mean_var` with `ignore_zeros=True` fails.

[code]

<details>

<summary> Error output </summary>

[code]
</details>

<details> <summary> Versions </summary>

[code]
</details>

[2021-09-15 19:51] WeilerP commented on #695
Closed via #698.

[2021-09-15 19:51] #695 closed

[2021-09-15 19:51] WeilerP commented on #696
Closed via #698.

[2021-09-15 19:51] #696 closed

[2021-09-15 19:51] WeilerP commented on #697
Closed via #698.

[2021-09-15 19:51] #697 closed

[2021-09-15 20:20] angelussong opened #699 "Combine loom Objects and Force-rename Cells"
Hi,

I am planning to run scvelo on six samples which were already merged, QC-ed and analyzed in Seurat. And I've successfully generated the loom objects using velocyto for each sample using the aligned bam files as well as the barcode lists I generated from the merged Seurat object.

But when I tried to use adata.concatenate(), the total number of cells did not match what I had in the Seurat obje

[2021-09-16 04:33] WeilerP commented on #699
Doesn't seem to be scvelo related but an anndata issue so please open an issue there.

[2021-09-16 04:33] #699 closed

[2021-09-17 07:31] chansigit opened #703 "p-value in the Differential Kinetic Test"
Thank your for your wonderful package.
I once tried the Differential Kinetic Test with all my genes, after running `scv.tl.differential_kinetic_test(adata, var_names=var_names, groupby='clusters')
`, I got p-values for each gene in the 'fit_diff_kinetics', 'fit_pval_kinetics' columns in adata.var

I have two concerns:
- there are NaN in the fit_pval_kinetics, why?
- I think the p-values should be

[2021-09-17 07:43] chansigit commented on #703
here are some example genes with smallest p-value (not NaN) , clearly they are not well explained by the overall dynamics
![image](https://user-images.githubusercontent.com/18084613/133744029-2c351df4-1d00-432b-8329-4c604ffbd0b0.png)

here are some other example genes with Nan p-value. it seems they are not well explained by the overall model either. maybe they shoud be given a p-value around 1?
!

[2021-09-20 20:29] mxposed opened #706 "Scvelo fails to import with matplotlib==3.4.3 on google cobal"
scVelo fails to import in the google colab notebook like this one:
https://colab.research.google.com/github/theislab/scvelo_notebooks/blob/master/DynamicalModeling.ipynb#scrollTo=so7QpP5f2XPz

[code]

[code]

<details>

<summary> Error output </summary>

[code]
</details>

The error is resolved if I first downgrade matplotlib:
[code]

I have not tried other versions of matplotlib

[2021-09-21 09:24] WeilerP commented on #706
Hm, strange. Couldn't reproduce this locally. I'll try later on a Linux system. @mxposed, could you please provide the other package versions, i.e. at least the output of `scv.logging.print_versions()`?

[2021-09-21 12:24] Marius1311 opened #707 "Figure saving in `0.2.4`"
In my jupyter notebook, I declare a global figure path in scVelo using `scv.settings.figdir=XXX`. Later on, when I want to save a figure, I run e.g. `scv.pl.scatter(adata, save='subdir/fig.pdf')` which doesn't work, even though the path `figdir + 'subdir/fig.pdf' `exists. However, instead running `scv.pl.scatter(adata, save='fig.pdf')` **does** work, it saved in `figdir + 'fig.pdf'`. Furthermore,

[2021-09-21 13:47] stela2502 opened #709 "Handle CellRanger --include-introns results"
CellRanger now should also support a velocyto analysis by counting intronic reads.
Unfortunately I am unable to read the results into scvelo.
It would be great if the result files from CellRanger would also be supported, not only loom files.

[2021-09-21 14:03] WeilerP commented on #709
@stela2502, could you please share a link to some docs/data for me to have a look/asses how and if to implement this? Also, don't hesitate to implement this and open a PR!

[2021-09-21 14:09] stela2502 commented on #709
Hi I am not a good python programmer. So I can not implement this.
I actually need to dig deeper to find what is going wrong.
I assume that the unspliced is not populated.
Do not hold your breath - this seams to be quite an endeavor for me.
To be honest - I might need to create a new genome for CellRanger first.
Or I just stick to kallisto/bustools instead...

[2021-09-21 14:11] stela2502 commented on #709
Obviously my 'naive' assumption that one could 'simply' use this --include-introns option to get the correct data was wrong.
I think that is as far as I will look into this problem. Sorry to have bothered you.

[2021-09-21 14:13] stela2502 commented on #709
This seams to be not correct:

The single-nuclei RNA-seq assay captures unspliced pre-mRNA as well as mature mRNA. However, after alignment, cellranger count only counts reads aligned to exons. Since the pre-mRNA will generate intronic reads, it may be useful to count these reads as well. Previously, it was recommended to create a custom “pre-mRNA” reference package, listing each gene transcript l

[2021-09-21 14:23] WeilerP commented on #709
No worries @stela2502. Sorry, I am confused now: Is still something worthwhile implementing or can the issue be closed.
I haven't looked into this so don't take this too serious: Why can CellRanger now provide the relevant data without passing its result to velocyto first?

[2021-09-21 16:19] mxposed commented on #706
Well, it's hard to do that since `scvelo` does not import.
Here's a dump of `pip list`:

[code]

[2021-09-21 16:39] WeilerP commented on #706
Oh yes, you're right. Sorry, I didn't think of that. 😅 . Thanks for the `pip list`. I'll look into it.

[2021-09-22 05:51] ACastanza opened #711 "Differential_kinetics_test runs recovers dynamics but doesn't support n_jobs param"
Hello,

I noticed that when running scvelo.tl.differential_kinetic_test() the function seems to be calling recover_dynamics internally, but the function doesn't appear to allow you to pass the n_jobs paramerter resulting in extended runtimes if the initial velocity run was done with the standard model and not the dynamical model. Allowing n_jobs to be passed here would be a welcome enhancement.

[2021-09-22 06:14] WeilerP commented on #709
Okay, I'll close this then.

[2021-09-22 06:14] #709 closed

[2021-09-22 17:50] ACastanza opened #712 "Error in scv.tl.velocity after recover dynamics if initial velocity was stochastic"
Hello,
I'm not entirely sure this is actually a bug, it depends on what the exact intended logic is with the effect of recovering dynamics.
If the initial scvelo.tl.velocity() is run with mode="stochastic" then even if you run scvelo.tl.recover_dynamics() separately, scvelo.tl.velocity(..., diff_kinetics=True)) errors after scv.tl.differential_kinetic_test unless the mode parameter matches the ini

[2021-09-23 05:01] WeilerP commented on #712
@ACastanza, thanks for opening the issue! @VolkerBergen, do you already happen to have any thoughts on this?

[2021-09-24 11:08] michalk8 commented on #707
The problem is that a prefix is prepended to the whole path and not just the filename [here](https://github.com/theislab/scvelo/blob/master/scvelo/plotting/utils.py#L996).
Temporary workaround is to also set:
[code]
Works, except for the last one, since it would save it to `figures/figures/subdir/test.pdf.png`, which is the correct behavior.

[2021-09-27 14:16] jmzhang1911 opened #713 "Can't change the matplotlib settings"
I use the codes to change the matplotlib settings but it doesn't work. Who can help me solve this problem?
![image](https://user-images.githubusercontent.com/52552382/134925383-6d26fbad-71d7-450c-b164-b1a080f3aff7.png)

[2021-09-27 14:32] #713 closed

[2021-09-28 03:43] HousLi commented on #709
Hello,

Can I ask the same question? Cellragner_multi has an option to include intronic reads in counts. The default setting is FLASE, but you can change to TURE when running counts. Can this be used to pre-process data for scvelo? like getting spliced and unspliced infromation?

Here is the link to the descrption of cellranger multi,
https://support.10xgenomics.com/single-cell-gene-expression/sof

[2021-09-28 06:34] stela2502 commented on #709
My take home message was that CellRanger neither is able to export (separate) intronic reads nor is this feature planned.
So I recommend to use kallisto/bustools instead. This has worked for me and is actually also faster than CellRanger (I think).
https://www.kallistobus.tools/

[2021-09-29 07:24] stela2502 commented on #709
As far as I remember - yes - I use CellRanger mkfastq to get the fastq files and then run kallisto on them.
I can not really remember out of my head now. But the documentation did work for me.

[2021-09-29 11:44] stela2502 opened #715 "Why do I have two python processes with the whole data in one tl.recover_dynamics(adata, n_jobs=10) run?"
scvelo==0.2.3

So maybe this has been changed already. I'll check later - want the process to finish first.
But why do I have two processes with exactly the same size in a tl.recover_dynamics(adata, n_jobs=10) run and 10 tiny processes?
Should it not be one big process and 10 small ones?

[code]

[2021-09-29 12:02] stela2502 commented on #715
I assume the run has finished as the second big python process is gone, but the 10 small ones persist.
Can anybody confirm this?

[code]

[2021-09-29 15:06] WeilerP commented on #715
@stela2502 not sure why you are seeing two big processes ad a couple of small ones. The problem with the current implementation of `scv.tl.recover_dynamics` is that each spawned job uses the entire `AnnData`. The refactoring and improving performance is an ongoing process. I alreadt opened #405. Does this help?

[2021-09-30 00:32] naity opened #716 "Can we add support for observation variables to `scvelo.pl.velocity`?"
I was wondering if it would be possible to support using `obs` variables in `scv.pl.velocity` similar to `scanpy.pl.umap` so that one could visualize protein expression data stored as columns in `obs`.

Thanks very much!

[2021-09-30 03:42] WeilerP commented on #716
@naity, do you mean coloring the observations based on a column in `.obs`? Could you please provide a minimal working example that I can simply copy and paste showing the feature in `scanpy.pl.umap` you are referring to? Thanks!

[2021-09-30 06:40] stela2502 commented on #405
@WeilerP reducing the adata to the minimal required seams a good plan, but why is that not handled internally. I do not know what is important for this analysis and to be honest - I do not want to know. In addition that might change in the future and hence the subsetting should definitely be handled internally - right?
I assume that is how the improvement would be implemented?

[2021-09-30 06:42] stela2502 commented on #715
This just does not seam to be correct. I do not see 10 jobs with all data, but I see 1 with all and 9 with less. And most interestingly the one will all does not work at all. There seams to be possibility for a lot of improvement here.

[2021-09-30 07:07] stela2502 commented on #715
Hi again, I had counted wrong - 2 big and 10 small it is. Also with the version 0.2.4.

[2021-09-30 07:10] stela2502 commented on #715
But when you compare the CPU values - the implementation in 0.2.4 seams to be 'broken' - only one to two small workers do actually work: here none do :-(
[code]

[2021-09-30 07:55] WeilerP commented on #405
No, this is not how the improvement is implemented. The improvement will not modify the passed AnnData but only grab the needed data and pass it to the different processes. We do not know which data needs and which not, *i.e.*, we cannot simply remove everything not needed for velocity estimation.

[2021-09-30 08:00] WeilerP commented on #715
Parallelization already works. Problem is running out of memory in case of large datasets, hence #405.

Might just be an OOM problem/error? What's the size of the dataset you are passing to `recover_dynamics`? Also, what kind of system are you running this on?

[2021-09-30 08:28] stela2502 commented on #715
Hi again, I am running a 1e+5 cells 3e+4 genes anndata file on a 40 core 340Gb ram Intel computation node using a singularity image containing all Python code.

[2021-09-30 08:30] stela2502 commented on #715
And the small processes later on gained performance, but not a constant ~100% as in 0.2.3. The data might be split in too small parts in 0.2.4. All in all not too problematic as the system processes the data and 50% more time in this rather efficient step are not a problematic time loss over all. The single processor parts of a velocity analysis do take way more time than this.

[2021-09-30 08:33] stela2502 commented on #715
Had to google "OOM problem" and no - if I get a OOM problem the process dies. The small ones got to 100% later during this analysis.

[2021-09-30 08:36] WeilerP commented on #715
Is there a reason for using 30000 genes? In the usual pipeline you subset to highly variable genes (~2000 to begin with). See e.g. [here](https://scvelo.readthedocs.io/vignettes/Pancreas/) for the common pipeline.